{include file="header.html"}
<div align="center">
<iframe height="550" width="440" marginheight="0" marginwidth="0" frameborder="0" src="http://daopay.com/pay/?appcode={$this_config.appcode}&price={$payment.amount}&currency={$config.currency}&memberid={$member_id}&paymentid={$payment_id}&successurl={$return_URL}">
</iframe>
<p align="center">after successful payment <a href="member.php">click here</a></p>
</div>
{include file="footer.html"}