@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
		font-family: "helvetica neue", Arial, Helvetica, sans-serif;

}
body {
	line-height: 18px;
	background-color: #f0f0f0;
	font-size: 18px;
}
#top-text-area {
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	height: 110px;
}

#mainWrapper {
	width: 710px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
#contentArea {
	background-image: url(../images/repeater.png);
	background-repeat: repeat-y;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	color: #333;
}
#navArea {
	background-image: url(../images/nav-bar.png);
	height: 42px;
	width: 690px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	padding-top: 13px;
	padding-left: 20px;
}

.dropshadow {
    /* Empty declaration: this is here so that you can tag shadowed things */
}
#navArea a {
	color: #FFF;
	text-decoration: none;
}
#logoarea {
	background-image: url(../images/logo-area.png);
	height: 71px;
}

.IntroText {
	font-size: 24px;
	font-weight: bold;
}
.midText {
	font-size: 16px;
	color: #666;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.smallText {
	font-size: 12px;
	color: #999;
}
p {
	padding-top: 4px;
	padding-bottom: 4px;
}




.shadowed {
	/* This styles our actual text */
    position: relative;
   z-index:10;

}




ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#coverType {
	border-right-style: solid;
	border-right-color: #CCC;
}
#coverViewLists {
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #E5E5E5;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #E5E5E5;
}
#coverSelect {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
}



#main-box p {
	font-size: 12px;
	color: #444;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 16px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.titleheader {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	color: #4c4c4c;
	margin-top: 15px;
	margin-bottom: 10px;
}
#main-box {
	margin: 0px;
	padding: 0px;
}

textarea#styled {
	width: 600px;
	height: 80px;
	border: 2px solid #cccccc;
	padding: 5px;

}
p .option_settings_list {
	color: #06C;
	text-decoration: none;
}
#creators p {
	padding: 0px;
	margin: 0px;
}
#creator_info {
	margin-left: 20px;
	padding-left: 20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #BAC9D6;
	height: 240px;
}
#show_created_image div div p span strong a {
	color: #588CB3;
	text-decoration: none;
}
#show_created_image {
	background-color: #F5F5F5;
	border: 1px solid #B5BEC4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
#listOfAval {
	padding-right: 15px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E0E0E0;
}
#coverImage {
	-moz-box-shadow: #cdcdcd 2px 2px 2px;
-webkit-box-shadow: #cdcdcd 2px 2px 2px;
}
#listOfAval table tr td p a {
	color: #069;
	text-decoration: none;
}
.createCoverLink {
	color: #069;
	text-decoration: none;
}
#uploadArea {
	background-color: #F1F9FE;
	border: 1px solid #B8C5CF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
}
#sidebarModels {
	background-image: url(../images/3dCreatorSideRepeater.png);
	background-repeat: repeat-y;
	float: left;
	width: 220px;
}
#dmodelPreview {
	float: left;
	width: 400px;
	margin-left: 15px;
}
#DModelPicker {
	border: 1px solid #BEBEBE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.ModelType {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 200px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DFDFDF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.ModelType.curCover {
	background-color: #FFF;
}
.IntroText2 {
	font-size: 18px;
	font-weight: bold;
}
