h1, h2, h3
{
	font-family: tahoma, helvetica, sans-serif;
}
html, body
{
	height: 100%;
}
#signin-layout
{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 450px;
	text-align: left;
	background-color: #f1f0e3;
	border: 2px solid #0055e3;
	padding: 0px;
}
#form-header
{
	background-color: #0055e3;
	padding: 8px;
	color: #FFFFFF;
	font-family: tahoma, helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
#signin-form
{
	padding: 14px;
}
#signin-form label
{
	font-family: tahoma, helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #0055e3;
	display: block;
}
#signin-form  .inputtxt
{
	border: 1px solid #666666;
	background-color: #ffffff;
	color: #0055e3;
	font-family: tahoma, helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
	display: block;
}
#signin-form  .button
{
	border: 1px solid #666666;
	background-color: #ffffff;
	color: #0055e3;
	font-family: tahoma, helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
	margin-top:10px;
}
#signin-form input:focus
{
	border: 1px solid #666666;
	background-color: #d7e6fd;
	color: #000000;
	font-family: tahoma, helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.error
{
	color:#FF0000;
	font-family: tahoma, helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
p
{
	margin: 5px 0px 5px 0px;
	padding: 0px;
	font-family: tahoma, helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
form
{
	margin: 0px;
	padding: 0px;
}