{assign var="title" value="Processing transaction"}
{include file="header.html"}
<script type="text/javascript" src="{$config.root_surl}/includes/jquery/jquery.js?smarty"></script>
<form name="payment" action="https://secure.netbilling.com/gw/native/interactive2.2" method="POST">
<noscript>
<br>
<br>
<center>
<h1>Processing your Transaction</h1>
<h2>
JavaScript is currently disabled or is not supported
by your browser.<br></h2>
<h3>Please click Submit to continue
the processing of your transaction.</h3>
<input type="submit" value="Submit">
</center>
</noscript>
<input type="hidden" name="Ecom_BillTo_Postal_Name_First" VALUE="{$member.name_f}" />
<input type="hidden" name="Ecom_BillTo_Postal_Name_Last" VALUE="{$member.name_l}" />
<input type="hidden" name="Ecom_BillTo_Postal_City" VALUE="{$member.city}" />
<input type="hidden" name="Ecom_BillTo_Postal_StateProv" VALUE="{$member.state}" />
<input type="hidden" name="Ecom_BillTo_Postal_PostalCode" VALUE="{$member.zip}" />
<input type="hidden" name="Ecom_BillTo_Postal_CountryCode" VALUE="{$member.country}" />
<input type="hidden" name="Ecom_BillTo_Online_Email" VALUE="{$member.email}" />

<input type="hidden" name="Ecom_ShipTo_Postal_Name_First" VALUE="{$member.name_f}" />
<input type="hidden" name="Ecom_ShipTo_Postal_Name_Last" VALUE="{$member.name_l}" />
<input type="hidden" name="Ecom_ShipTo_Postal_Street_Line1" VALUE="{$member.street}" />
<input type="hidden" name="Ecom_ShipTo_Postal_City" VALUE="{$member.city}" />
<input type="hidden" name="Ecom_ShipTo_Postal_StateProv" VALUE="{$member.state}" />
<input type="hidden" name="Ecom_ShipTo_Postal_PostalCode" VALUE="{$member.zip}" />
<input type="hidden" name="Ecom_ShipTo_Postal_CountryCode" VALUE="{$member.country}" />
<input type="hidden" name="Ecom_ShipTo_Online_Email" VALUE="{$member.email}" />

<input type="hidden" name="Ecom_Ezic_AccountAndSitetag" VALUE="{$vars.SITETAG}" />
<input type="hidden" name="Ecom_Cost_Total" VALUE="{$vars.AMT}" />
<input type="hidden" name="Ecom_Ezic_Misc_Information" VALUE="{$vars.INVOICE}"/>

</form>
<SCRIPT LANGUAGE="Javascript" >
<!--
function OnLoadEvent()
{
document.payment.submit();
}
//-->
</SCRIPT>
<script type="text/javascript">
$(document).ready(function(){
		OnLoadEvent();
});
</script>
{include file="footer.html"}
