/* Wish List Stylesheet */

.WLRequired{
	background:url(../images/asterisk.gif) no-repeat right 10px;
}

.WLSubMenu{
	list-style:none;
	margin:0 0 5px 0;
	padding:0;
	height:2em;
	font-size:14px;
	clear:both;
	background:#ECECEC none repeat scroll 0 0;
}
.WLSubMenu li{
	float:left;
	padding:0;
	margin:0;
}
.WLSubMenu li a{
	display:block;
	float:left;
	margin:0 0 0 12px;
	padding:0 5px;
	text-decoration:none;
	line-height:200%;
}
.WLSubMenu li a.current{
	color:#D54E21;
}

#submenu li{
	padding:0;
	margin:0;
}
#submenu li a{
	margin:0 0 0 12px;
	padding:0 5px;
	display:block;
	float:left;
}
#submenu li a.current{
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	background:#ECECEC none repeat scroll 0 0;
}

.widefat input {
	border:1px solid #DDDDDD;
	font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	line-height:20px;
	padding:4px;
}

.wpm_header_link{
	color:#888888;
	text-decoration:none;
}
.wpm_header_sorta{
	background:url(http://work/wordpress/wp-content/plugins/wishlist-member/images/arrdn.gif) center right no-repeat;
	padding-right:12px;
}
.wpm_header_sortd{
	background:url(http://work/wordpress/wp-content/plugins/wishlist-member/images/arrup.gif) center right no-repeat;
	padding-right:12px;
}

.wpm_nowrap td{
	white-space:nowrap;
}

ul.view-switch {
	float: right;
	list-style: none;
	margin: -23px 5px -2px 0;
	position: relative;
}

ul.view-switch li {
	float: left;
	margin: 0;
	font-size: 11px;
	padding: 4px 6px;
	font-weight: bold;
}

ul.view-switch li.current a {
	color: #333333;
}

.wrap h2{
	border-bottom: 1px solid #DADADA;
}

.placeholder { color: #EEEEEE; }
.focus { height:200px; overflow:auto; }