{assign var="title" value="Processing transaction"}
{include file="header.html"}
<script type="text/javascript" src="{$config.root_surl}/includes/jquery/jquery.js?smarty"></script>
<form action="https://payment.architrade.com/paymentweb/start.action " method="post" name="dibs" id="dibs" target=_blank>
<noscript>
<br>
<br>
<center>
<h1>Processing your Transaction</h1>
<h2>
JavaScript is currently disabled or is not supported
by your browser.<br></h2>
<h3>Please click Submit to continue
the processing of your transaction.</h3>
<input type="submit" value="Submit">
</center>
</noscript>
    <input type="hidden" name="merchant" value="{$vars.merchant}" />
    <input type="hidden" name="amount" value="{$vars.amount}" />
    <input type="hidden" name="currency" value="{$vars.currency}" />
    <input type="hidden" name="orderid" value="{$vars.orderid}" />
    <input type="hidden" name="accepturl" value="{$config.root_url}/plugins/payment/dibs/thanks.php" />
    <input type="hidden" name="cancelurl" value="{$config.root_url}/cancel.php" />
    <input type="hidden" name="continueurl" value="{$config.root_url}/thanks.php" />
    <input type="hidden" name="callbackurl" value="{$config.root_url}/plugins/payment/quickpay/ipn.php" />
    <input type="hidden" name="md5key" value="{$vars.md5key}" />
    <input type="hidden" name="lang" value="{$vars.lang}" />
</form>
<SCRIPT LANGUAGE="Javascript" >
<!--
function OnLoadEvent()
{
document.dibs.submit();
}
//-->
</SCRIPT>
<script type="text/javascript">
$(document).ready(function(){
		OnLoadEvent();
});
</script>
{include file="footer.html"}