{assign var="title" value="Processing transaction"}
{include file="header.html"}
<form method=post action="https://secure.bluepay.com/interfaces/bp10emu">
<table class=vedit>
<tr>
    <th>The Credit Card Number.</th>
    <td><input type=text name=CC_NUM></td>
</tr>
<tr>
    <th>The expiration date in MMYY format</th>
    <td><input type=text name="CC_EXPIRES"></td>
</tr>
</table>
<input type="submit" value="Submit">
{foreach from=$vars key=k item=v}
<input type="hidden" name="{$k}" value="{$v|escape}">
{/foreach}
</form>
</script>
{include file="footer.html"}