/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorpegas {
	background-color: #d6e3ea;
	}

.FormTitleBgColorpegas {
	background-color: #3994a3;
	}

.FormTitleFontColorpegas {
	color: #ffffff;
	}

.CaptionBgColorpegas {
	background-color: #c2ddea;
	}

.CaptionFontColorpegas {
	color: #000000;
	}

.DataBgColorpegas {
	background-color: #f9f9f9;
	}

.AltDataBgColorpegas {
	background-color: #eaf3f9;
	}

.DataFontColorpegas {
	color: #000000;
	}

.LinkColorpegas {
	color: #1f4cd2;
	}

.VisitedLinkColorpegas {
	color: #871487;
	}

.HoverLinkColorpegas {
	color: #ff2626;
	}

.ColorBgButtonpegas {
	background-color: #3994a3;
}

.ColorFontButtonpegas {
	color: #ffffff;
}

.ColorBgButtonPassivepegas {
	background-color: #c1c1c1;
}

.ColorFontButtonPassivepegas {
	color: #ffffff;
}



.Headerpegas {
	width: 100%;
	}

.Headerpegas th { 
	font-family: Arial; font-size: 23px; text-align: left;
	padding: 3px;
	background-color: #3994a3; color: #ffffff;
	width: 100%;
	white-space: nowrap;
	
	}


html>body .Headerpegas th {
	font-family: Arial; font-size: 23px; text-align: left;
}


/*ie6*/
* html body .Headerpegas th {
	font-family: Arial; font-size: 23px; text-align: left;
}
/*end*/

.Headerpegas a:link { 
	color: #ffffff;
	}

.Headerpegas a:visited { 
	color: #ffffff;
	}

.Headerpegas a:hover, .Captionpegas a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftpegas { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightpegas { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftpegas img{
	width: 12px;
	}

.HeaderRightpegas img{
	width: 12px;
	}


/* Grid Options */
.Gridpegas { 
	border: solid 1px #c2ddea; border-bottom: 0px;
	width: 100%;
	}

.Captionpegas th { 
	font-family: Arial; font-size: 13px; text-align: left; vertical-align: middle;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #c2ddea; color: #000000;
	white-space: nowrap;
	}

.Captionpegas td { 
	font-family: Arial; font-size: 13px; text-align: left; vertical-align: middle;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #c2ddea; color: #000000;
	white-space: nowrap;
	}


html>body .Captionpegas th, html>body .Captionpegas td {
	font-family: Arial; font-size: 13px; text-align: left; vertical-align: middle;
}


/*ie6*/
* html body .Captionpegas th, * html body .Captionpegas td {
	font-family: Arial; font-size: 13px; text-align: left; vertical-align: middle;
}
/*end*/

.Captionpegas a:link { 
	color: #000000;
	}

.Captionpegas a:visited { 
	color: #000000;
	}

.Captionpegas a:hover, .Captionpegas a:active { 
	color: #ff2626;
	}

.Captionpegas img {
	margin: 2px; 
	vertical-align: middle;
	}

.Captionpegas input {
	vertical-align: middle;
	}

.Rowpegas th { 
	font-family: Arial; font-size: 13px; font-weight: normal; text-align: left; vertical-align: middle;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #f9f9f9; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Rowpegas td { 
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: left;
	vertical-align: top;
	background-color: #f9f9f9; 
	color: #000000;
	}
	

html>body .Rowpegas th, html>body .Rowpegas td {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .Rowpegas th, * html body .Rowpegas td {
	font-family: Arial; font-size: 13px;
}
/*end*/

caption.Rowpegas { 
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border: solid 1px #c2ddea; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f9f9f9; 
	color: #000000;
	}


html>body caption.Rowpegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body caption.Rowpegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.Rowpegas a:link { 
	color: #1f4cd2;
	}

.Rowpegas a:visited { 
	color: #871487;
	}

.Rowpegas a:hover, .Rowpegas a:active { 
	color: #ff2626;
	}

.Separatorpegas{
	color: #3994a3;
	}

.Separatorpegas td{
	height: 1px;
	}


.AltRowpegas th { 
	font-family: Arial; font-size: 13px; font-weight: normal; text-align: left; vertical-align: middle;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #f9f9f9; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowpegas td { 
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: left;
	vertical-align: top;
	background-color: #eaf3f9; 
	color: #000000;
	}


html>body .AltRowpegas th, html>body .AltRowpegas td {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .AltRowpegas th, * html body .AltRowpegas td {
	font-family: Arial; font-size: 13px;
}
/*end*/

.AltRowpegas a:link { 
	color: #1f4cd2;
	}

.AltRowpegas a:visited { 
	color: #871487;
	}

.AltRowpegas a:hover, .AltRowpegas a:active { 
	color: #ff2626;
	}

.NoRecordspegas td { 
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: left;
	background-color: #f9f9f9; 
	color: #000000;
	vertical-align: top;
	}

.Footerpegas td { 
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #c2ddea; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .NoRecordspegas td, html>body .Footerpegas td {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .NoRecordspegas td, * html body .Footerpegas td {
	font-family: Arial; font-size: 13px;
}
/*end*/

.Footerpegas a:link { 
	color: #1f4cd2;
	}

.Footerpegas a:visited { 
	color: #871487;
	}

.Footerpegas a:hover, .Footerpegas a:active { 
	color: #ff2626;
	}

.Footerpegas img {
	margin: 2px; 
	vertical-align: middle;
	}

.Footerpegas input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.Recordpegas { 
	border: solid 1px #c2ddea; border-bottom: 0px;
	width: 100%;
	}

.Errorpegas td { 
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f9f9f9; 
	}


* html>body .Errorpegas td {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .Errorpegas td {
	font-family: Arial; font-size: 13px;
}
/*end*/

.Controlspegas th { 
	font-family: Arial; font-size: 13px; font-weight: normal; text-align: left; vertical-align: middle;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #f9f9f9; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Controlspegas td { 
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: left;
	vertical-align: top;
	background-color: #f9f9f9; 
	color: #000000;
	}
	
.Bottompegas td { 
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #c2ddea; color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .Controlspegas th, html>body .Controlspegas td, html>body .Bottompegas td {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .Controlspegas th, * html body .Controlspegas td, * html body .Bottompegas td {
	font-family: Arial; font-size: 13px;
}
/*end*/

.Bottompegas a:link { 
	color: #1f4cd2;
	}

.Bottompegas a:visited { 
	color: #871487;
	}

.Bottompegas a:hover, .Captionpegas a:active { 
	color: #ff2626;
	}

.Bottompegas img {
	margin: 2px;
	vertical-align: middle; 
	}

.Bottompegas input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionpegas th{
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #eaf3f9; 
	color: #000000;
	}

.GroupCaptionpegas td{
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f9f9f9; 
	color: #000000;
	}


html>body .GroupCaptionpegas th, html>body .GroupCaptionpegas td {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .GroupCaptionpegas th, * html body .GroupCaptionpegas td {
	font-family: Arial; font-size: 13px;
}
/*end*/

.GroupCaptionpegas a:link {
	color: #000000;
	}

.GroupCaptionpegas a:visited{
	color: #000000;
	}

.GroupCaptionpegas a:hover, .GroupCaptionpegas a:active{
	color: #ff2626;
	}

.GroupFooterpegas td{
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #c2ddea; 
	color: #000000;
	}


html>body .GroupFooterpegas td {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .GroupFooterpegas td {
	font-family: Arial; font-size: 13px;
}
/*end*/

.GroupFooterpegas a:link {
	color: #1f4cd2;
	}

.GroupFooterpegas a:visited{
	color: #871487;
	}

.GroupFooterpegas a:hover, .GroupFooterpegas a:active{
	color: #ff2626;
	}

.GroupFooterpegas img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterpegas input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalpegas td{
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #eaf3f9; 
	color: #000000;
	border-bottom: 2px solid #3994a3;
	}


html>body .SubTotalpegas td {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .SubTotalpegas td {
	font-family: Arial; font-size: 13px;
}
/*end*/

.SubTotalpegas a:link {
	color: #1f4cd2;
	}

.SubTotalpegas a:visited{
	color: #871487;
	}

.SubTotalpegas a:hover, .SubTotalpegas a:active{
	color: #ff2626;
	}

.Totalpegas td{
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #eaf3f9; 
	color: #000000;
	}


html>body .Totalpegas td {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .Totalpegas td {
	font-family: Arial; font-size: 13px;
}
/*end*/

.Totalpegas a:link {
	color: #1f4cd2;
	}

.Totalpegas a:visited{
	color: #871487;
	}

.Totalpegas a:hover, .Totalpegas a:active{
	color: #ff2626;
	}

/* Form Options */
.Buttonpegas { 
	background-color: #3994a3; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Arial; font-size: 13px;
	}

/* Calendar */

.Calendarpegas { 
	border: solid 1px #c2ddea;
	width: 100%;
	}

.CalendarWeekdayNamepegas{
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #eaf3f9; 
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekdayNamepegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarWeekdayNamepegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarWeekdayNamepegas a:link {
	color: #1f4cd2;
	}

.CalendarWeekdayNamepegas a:visited{
	color: #871487;
	}

.CalendarWeekdayNamepegas a:hover, .CalendarWeekdayNamepegas a:active{
	color: #ff2626;
	}

.CalendarWeekendNamepegas{
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #eaf3f9;	
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekendNamepegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarWeekendNamepegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarWeekendNamepegas a:link {
	color: #000000;
	}

.CalendarWeekendNamepegas a:visited{
	color: #000000;
	}

.CalendarWeekendNamepegas a:link, .CalendarWeekendNamepegas a:visited{
	color: #ff2626;
	}

/* Calendar Day */
.CalendarDaypegas{
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: center;
	background-color: #f9f9f9;	
	color: #000000;
	}


html>body .CalendarDaypegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarDaypegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarDaypegas a:link {
	color: #1f4cd2;
	}

.CalendarDaypegas a:visited{
	color: #871487;
	}

.CalendarDaypegas a:hover, .CalendarDaypegas a:active{
	color: #ff2626;
	}

/* Calendar Weekend */
.CalendarWeekendpegas{
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: center;
	background-color: #eaf3f9;	
	color: #000000;
	}


html>body .CalendarWeekendpegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarWeekendpegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarWeekendpegas a:link {
	color: #1f4cd2;
	}

.CalendarWeekendpegas a:visited{
	color: #871487;
	}

.CalendarWeekendpegas a:hover, .CalendarWeekendpegas a:active{
	color: #ff2626;
	}

/* Calendar Today */
.CalendarTodaypegas {
	font-family: Arial; font-size: 13px;
	padding: 1px;
	border: 2px solid #c2ddea; border-top: 1px solid #c2ddea;
	text-align: center;
	background-color: #f9f9f9;	
	color: #000000;
	}


html>body .CalendarTodaypegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarTodaypegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarTodaypegas a:link {
	color: #1f4cd2;
	}

.CalendarTodaypegas a:visited{
	color: #871487;
	}

.CalendarTodaypegas a:hover, .CalendarTodaypegas a:active {
	color: #ff2626;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodaypegas {
	font-family: Arial; font-size: 13px;
	padding: 1px;
	border: 2px solid #c2ddea; border-top: 1px solid #c2ddea;
	text-align: center;
	background-color: #eaf3f9;	
	color: #000000;
	}


html>body .CalendarWeekendTodaypegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarWeekendTodaypegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarWeekendTodaypegas a:link {
	color: #1f4cd2;
	}

.CalendarWeekendTodaypegas a:visited{
	color: #871487;
	}

.CalendarWeekendTodaypegas a:hover, .CalendarWeekendTodaypegas a:active{
	color: #ff2626;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDaypegas{
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: center;
	background-color: #f9f9f9;	
	color: #3994a3;
	}


html>body .CalendarOtherMonthDaypegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarOtherMonthDaypegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarOtherMonthDaypegas a:link {
	color: #3994a3;
	}

.CalendarOtherMonthDaypegas a:visited{
	color: #3994a3;
	}

.CalendarOtherMonthDaypegas a:hover, .CalendarOtherMonthDaypegas a:active{
	color: #ff2626;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodaypegas {
	font-family: Arial; font-size: 13px;
	padding: 1px;
	border: 2px solid #c2ddea; border-top: 1px solid #c2ddea;
	text-align: center;
	background-color: #f9f9f9;	
	color: #3994a3;
	}


html>body .CalendarOtherMonthTodaypegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarOtherMonthTodaypegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarOtherMonthTodaypegas a:link {
	color: #3994a3;
	}

.CalendarOtherMonthTodaypegas a:visited{
	color: #3994a3;
	}

.CalendarOtherMonthTodaypegas a:hover, .CalendarOtherMonthTodaypegas a:active{
	color: #ff2626;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendpegas {
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: center;
	background-color: #eaf3f9;	
	color: #3994a3;
	}


html>body .CalendarOtherMonthWeekendpegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendpegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarOtherMonthWeekendpegas a:link {
	color: #3994a3;
	}

.CalendarOtherMonthWeekendpegas a:visited{
	color: #3994a3;
	}

.CalendarOtherMonthWeekendpegas a:hover, .CalendarOtherMonthWeekendpegas a:active{
	color: #ff2626;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodaypegas {
	font-family: Arial; font-size: 13px;
	padding: 1px;
	border: 2px solid #c2ddea; border-top: 1px solid #c2ddea;
	text-align: center;
	color: #3994a3;
	background-color: #eaf3f9;	
	}
	

html>body .CalendarOtherMonthWeekendTodaypegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendTodaypegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarOtherMonthWeekendTodaypegas a:link {
	color: #3994a3;
	}

.CalendarOtherMonthWeekendTodaypegas a:visited{
	color: #3994a3;
	}

.CalendarOtherMonthWeekendTodaypegas a:hover, .CalendarOtherMonthWeekendTodaypegas a:active{
	color: #ff2626;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDaypegas{
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #c2ddea;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	

html>body .CalendarSelectedDaypegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarSelectedDaypegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarSelectedDaypegas a:link {
	color: #000000;
	}

.CalendarSelectedDaypegas a:visited{
	color: #000000;
	}

.CalendarSelectedDaypegas a:hover, .CalendarSelectedDaypegas a:active{
	color: #ff2626;
	}

/* Calendar Navigator */
.CalendarNavigatorpegas {
	font-family: Arial; font-size: 13px;
	padding: 3px;
	background-color: #c2ddea; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .CalendarNavigatorpegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarNavigatorpegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarNavigatorpegas a:link {
	color: #1f4cd2;
	}

.CalendarNavigatorpegas a:visited{
	color: #871487;
	}

.CalendarNavigatorpegas a:hover, .CalendarNavigatorpegas a:active{
	color: #ff2626;
	}

.CalendarNavigatorpegas img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorpegas td {
	font-family: Arial; font-size: 13px;
	}

.CalendarNavigatorpegas th {
	font-family: Arial; font-size: 13px;
	}


html>body .CalendarNavigatorpegas th, html>body .CalendarNavigatorpegas td {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarNavigatorpegas th, * html body .CalendarNavigatorpegas td {
	font-family: Arial; font-size: 13px;
}
/*end*/

/* Calendar Extra */
.CalendarEventpegas{
	font-family: Arial; font-size: 13px;
	text-align: left;
	}


html>body .CalendarEventpegas {
	font-family: Arial; font-size: 13px;
}


/*ie6*/
* html body .CalendarEventpegas {
	font-family: Arial; font-size: 13px;
}
/*end*/

.CalendarEventpegas a:link {
	color: #1f4cd2;
	}

.CalendarEventpegas a:visited{
	color: #871487;
	}

.CalendarEventpegas a:hover, .CalendarEventpegas a:active{
	color: #ff2626;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thpegas { 
	font-family: Arial; font-size: 13px;
	font-weight: bold;
}


html>body .thpegas {
	font-size: 100%;
}


/*ie6*/
* html body .thpegas {
	font-size: 100%;
}
/*end*/

.Headerpegas .thpegas { 
	font-family: Arial; font-size: 23px; text-align: left;
	padding: 3px;
	background-color: #3994a3; color: #ffffff;
	width: 100%;
	white-space: nowrap;
}


html>body .Headerpegas .thpegas {
	font-family: Arial; font-size: 23px; text-align: left;
}


/*ie6*/
* html body .Headerpegas .thpegas {
	font-family: Arial; font-size: 23px; text-align: left;
}
/*end*/

.Captionpegas .thpegas { 
	font-family: Arial; font-size: 13px; text-align: left; vertical-align: middle;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #c2ddea; color: #000000;
	white-space: nowrap;
}


html>body .Captionpegas .thpegas {
	font-family: Arial; font-size: 13px; text-align: left; vertical-align: middle;
}


/*ie6*/
* html body .Captionpegas .thpegas {
	font-family: Arial; font-size: 13px; text-align: left; vertical-align: middle;
}
/*end*/

.Rowpegas .thpegas { 
	font-family: Arial; font-size: 13px; font-weight: normal; text-align: left; vertical-align: middle;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #f9f9f9; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowpegas .thpegas { 
	font-family: Arial; font-size: 13px; font-weight: normal; text-align: left; vertical-align: middle;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #f9f9f9; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.Controlspegas .thpegas { 
	font-family: Arial; font-size: 13px; font-weight: normal; text-align: left; vertical-align: middle;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	background-color: #f9f9f9; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptionpegas .thpegas {
	font-family: Arial; font-size: 13px;
	padding: 3px;
	border-bottom: solid 1px #c2ddea;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #eaf3f9; 
	color: #000000;
}


html>body .GroupCaptionpegas .thpegas {
	font-family: Arial; font-size: 13px;
}

html>body .Rowpegas .thpegas, html>body .AltRowpegas .thpegas, html>body .Controlspegas .thpegas {
	font-family: Arial; font-size: 13px; font-weight: normal; text-align: left; vertical-align: middle;
}


/*ie6*/
* html body .GroupCaptionpegas .thpegas {
	font-family: Arial; font-size: 13px;
}

* html body .Rowpegas .thpegas, * html body .AltRowpegas .thpegas, * html body .Controlspegas .thpegas {
	font-family: Arial; font-size: 13px; font-weight: normal; text-align: left; vertical-align: middle;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenupegas td {
	font-family: Arial; font-size: 13px;
}


html>body .simpleMenupegas td {
	font-family: Arial; font-size: 13px;
} 


/*ie6*/
* html body .simpleMenupegas td {
	font-family: Arial; font-size: 13px;
} 
/*end*/
