div.a:hover {
   border:solid 1px #FF3300;
}

.img {
    border: solid 1px #CCCCCC;
    padding: 2px;
}
.img:hover {
    border: solid 1px #CCCCFF;
    background-color: #CACACA;
}
.msg {
        text-align:left;
        color:#666;
        background-repeat: no-repeat;
        margin-left:30px;
    margin-right:30px;
        padding:5px;
    padding-left:30px;
}

.emsg {
        text-align:left;
        margin-left:30px;
   margin-right:30px;
        color:#666;
        background-repeat: no-repeat;
        padding:5px;
   padding-left:30px;
}
    
#loader{
   display:none;
}

#f1_upload_form{
   height:100px;
}

#f1_error{
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight:bold;
   color:#FF0000;
}

#f1_ok{
   font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: 12px;
   font-weight:bold;
   color:#00FF00;

}

#f1_upload_form {
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        color: #666666;
}

#f1_upload_process{
   z-index:100;
   display:none;
   position:absolute;
   text-align:center;
   width:400px;
}