/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

h1	{
	color: #7c7c7c;
	font-size: 150%;
	margin-top: 5px; 
	margin-bottom: 5px;
	}

h2	{ 
	color: #7c7c7c;
	font-size: 130%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h3	{ 
	color: #7c7c7c;
	font-size: 110%; 
    font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h4	{ 
	color: #7c7c7c;
	font-size: 100%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h5	{ 
	color: #7c7c7c;
	font-size: 100%; 
    font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h6	{ 
	color: #7c7c7c;
	font-size: 90%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

/*personalizadas*/
body {
	margin: 0px;
	color: #676767;
	background-color: #FFFFFF;
	font-size: 95%;
	font-family: Tahoma, Arial;
	margin: 0px;
	height:100%;
}

div #contenedor { 
	border: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin:0 auto 0 auto; 

	border-collapse: collapse;
}

.buscador{
    display: block;

	margin-bottom: 3px;
    margin-top: 6px;
}

.textlinks a {
	color: #FBFBFC;
	font-family: Tahoma, Arial;
	font-size: 1.1em;
}

.textlinks {
	color: #FBFBFC;
	font-family: Tahoma, Arial;
	font-size: 1.1em;
	padding-right: 20px;
}

.top {
	color: #7CACDA;
    float: right; 
    clear: right;
    white-space: nowrap; 
    margin: 10px; 
    font-size: 1em;
    text-align:right;
}

.top a {
	color: #FFFFFF;
	font-family: Tahoma, Arial;
	font-size: 1em;
}

.InfoBox {
	font-family: Tahoma, Arial;
	font-size: 0.85em;
	padding: 0px;
	border: solid 1px #e3e3e3;
	background-color: #f4feff;
	color: #333333;
	text-decoration: none;
	margin: 10px;
	width: 100%;
	border-collapse: separate;
	border-spacing: 2px;
}

.MenuBox {
	font-family: Tahoma, Arial;
	font-size: 0.9em;
	padding: 5px;
	color: #333333;
	text-decoration: none;
	margin: 10px;
	width: 100%;
	border-spacing: 2em;
}

html {
  height:100%;
}


#container {
  min-height: 90%;
}

/* Hack para IE 6 */
* html {
	overflow-y: scroll;
}

* html #container {
  height:100%;
}

#nonFooter {
	position: relative;
	min-height: 100%;
}

* html #nonFooter {
	height: 100%;
}

#content {
	padding-bottom: 9em;
}

#footer {
	position: relative;
	HEIGHT: 42px;
	margin-top: -42px;
	background-image: url('Images/FooterBG.png');
    width:100%;
	text-align: center;
	font-size: 0.5em;
	clear: both;
}

.infobar, .errorbar, .okbar {
    padding:.8em;
    margin-bottom:1.6em;
    border:1px solid #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;    
    }

.infobar{


	font-family: Tahoma, Arial;
	font-size: 14px;
	padding: 5px 5px 5px 25px;

	border-color:#FFD324;

	color: #514721;
	text-decoration: none;
	margin: 3px;

    min-height: 22px;
	border-collapse: collapse;

    background: #FFF6BF url('Images/info.png') no-repeat left center; 

    vertical-align: middle;

    text-align: left;
}

.errorbar{


	font-family: Tahoma, Arial;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 5px 5px 25px;

	color:#8a1f11;
	border-color:#FBC2C4;

	text-decoration: none;
	margin: 5px;

    min-height: 22px;
	border-collapse: collapse;

    background: #FBE3E4 url('Images/warning.png') no-repeat left center; 

    vertical-align: middle;
    text-align: left;
}

.okbar {

	font-family: Tahoma, Arial;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 5px 5px 25px;


    color:#264409;
    border-color:#C6D880;

	text-decoration: none;
	margin: 5px;

    min-height: 22px;
	border-collapse: collapse;

    background: #E6EFC2 url('Images/accept16.png') no-repeat left center; 

    vertical-align: middle;
    text-align: left;

    
}

.errorbar a {color:#8a1f11; background:none; padding:0; margin:0; }
.infobar a {color:#514721; background:none; padding:0; margin:0; }
.okbar a {color:#264409; background:none; padding:0; margin:0; }


.cuadro{
	font-family: Tahoma, Arial;
	font-size: 0.85em;
	padding: 5px 5px 10px 10px;
	border: solid 1px #e3e3e3;

	color: #333333;
	text-decoration: none;
	margin: 3px;
	border-collapse: collapse;

    vertical-align: top;
}


.ajaxok{
    background: url('Images/accept16.png') no-repeat left center; 
	padding: 5px 5px 10px 20px;
    display: inline;    
    font-family: Tahoma, Arial;
	font-weight: bold;
    margin: 5px;
}

.ajaxerror{
    background: url('Images/delete16.png') no-repeat left center; 
	padding: 5px 5px 10px 20px;    
    display: inline;
    font-family: Tahoma, Arial;
	font-weight: bold;
    margin: 5px;
}

.ajaxinfo{
    background: url('Images/comment.png') no-repeat left center; 
	padding: 5px 5px 10px 20px;    
    display: inline;
    font-family: Tahoma, Arial;
	font-weight: bold;
    margin: 5px;
}

#TooltipContainer {
    position:           absolute;
	font-size: 			0.8em;
    z-index:            99;
    width:              20em;
    height:             auto;
    overflow:           visible;
    visibility:         hidden;
    background-color:   #ffffcc;
    color:              #006600;
    border:             0.5px solid #CACACA;
    padding:            3px;
}


/* leave some space between icons and text */
.icon {
    vertical-align:     middle;
    margin-right:       0.3em;
    margin-left:        0.3em;
}
/* no extra space in table cells */
td .icon {
    margin: 0;
}

h5 {
	display: inline;
	font-size: 1em;
	font-weight: bold;
}


/* Para configurar Menu  */
.menu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	}

.menu ul{
	background:#333333;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}

.menu li{
	float:left;
	padding:0px;
	}
.menu li a{
	background:#333333 url("Images/seperator.gif") bottom right no-repeat;
	color:#cccccc;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 24px;
	text-align:center;
	text-decoration:none;
	}

.menu li a:hover, .menu ul li:hover a{
		background: #2580a2 url("Images/hover.gif") bottom center no-repeat;
		color:#FFFFFF;
		text-decoration:none;
		}

.menu li ul{
	background:#333333;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	/* width:225px; */
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}

.menu li:hover ul{
	display:block;		
	}

.menu li li {
	background:url('Images/sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	/* width:225px; */
	}

.menu li:hover li a{
	background:none;		
	}

.menu li ul a{
	display:block;
	/* height:35px; */
	font-size:1em;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	}

.menu li ul a:hover, .menu li ul li:hover a{
	background:#2580a2 url('Images/hover_sub.gif') center left no-repeat;
	border:0px;
	color:#ffffff;
	text-decoration:none;
	}

.menu p{
		clear:left;
		}	


#menuchico {
	background: #6C6C6C;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#menuchico li {
	float: left;
	font: 10px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    color: #fff;
	margin: 0;
	padding: 0;
}
#menuchico a {
	background: #6C6C6C url("Images/seperator.gif") bottom right no-repeat;
	color: #fff;
	display: block;
	float: left;
	margin: 0;
	padding: 4px 12px;
	text-decoration: none;
	font-weight:normal;
}
#menuchico a:hover {
	background: #2580a2 url("Images/hover.gif") bottom center no-repeat;
	color: #fff;
	padding-bottom: 4px;
}

/* para breadcrum */
#breadcrumb
{
    font: 11px Arial, Helvetica, sans-serif;
    background-image:url('Images/bc_bg.png'); 
    background-repeat:repeat-x;
    height:30px;
    line-height:30px;
    color:#9b9b9b;
    border:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
#breadcrumb li 
{
    list-style-type:none;
    float:left;
    padding-left:10px;
}
#breadcrumb a
{
    height:30px;
    display:block;
    background-image:url('Images/bc_separator.png'); 
    background-repeat:no-repeat; 
    background-position:right;
    padding-right: 15px;
    text-decoration: none;
    color:#454545;
}
.home
{
    border:none;
    margin: 8px 0px;
}

#breadcrumb a:hover
{
	color:#35acc5;
}

.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
/* para modo de edicion, comentar al publicar 
table, td, th {
	border: #CACACA 1px dotted !important;
}
*/

/*usado en sitios_admin */
.boton_agregar{
    clear:both;
    margin: 20px auto 10px auto;
    text-align: center;
}

.pag_elemento{
    TEXT-ALIGN: center; 
    WIDTH: 204px; 
    DISPLAY: inline-block; 
    FLOAT: left; 
    CLEAR: both;
    border: 1px solid #CACACA;
    margin: 10px 20px;
    -moz-border-radius: 5px;
    border-radius:5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}

.pag_elemento:hover{
    box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    -moz-box-shadow: 0 0 1em grey;
}

.pag_caja{
    TEXT-ALIGN: center; 
    DISPLAY: inline-block; 
    FLOAT: left; 
    CLEAR: both;
    border: 1px solid #CACACA;
    margin: 5px 10px 10px 10px;
    -moz-border-radius: 5px;
    border-radius:5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}

.pag_caja:hover{
    box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    -moz-box-shadow: 0 0 1em grey;
}

.pag_celda{
    TEXT-ALIGN: center; 
    border: 1px solid #CACACA;
    margin: 5px 10px 10px 0px;
    -moz-border-radius: 5px;
    border-radius:5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}

.pag_celda:hover{
    box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    -moz-box-shadow: 0 0 1em grey;
}
