/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorGesven {
	background-color: #cfe6d3;
	}

.FormTitleBgColorGesven {
	background-color: #3d84cc;
	}

.FormTitleFontColorGesven {
	color: #ffffff;
	}

.CaptionBgColorGesven {
	background-color: #c0eebc;
	}

.CaptionFontColorGesven {
	color: #000000;
	}

.DataBgColorGesven {
	background-color: #f7f8fa;
	}

.AltDataBgColorGesven {
	background-color: #e6eff7;
	}

.DataFontColorGesven {
	color: #000000;
	}

.LinkColorGesven {
	color: #0033cc;
	}

.VisitedLinkColorGesven {
	color: #830000;
	}

.HoverLinkColorGesven {
	color: #ff0000;
	}




.HeaderGesven {
	width: 100%;
	}

.HeaderGesven th { 
	font-family: Verdana; font-size: 90%; text-align: left;
	padding: 2px;
	background-image: url('Images/HeaderBg.gif');  color: #ffffff;
	width: 100%;
	white-space: nowrap;
	}




html body .HeaderGesven th {
	font-family: Verdana; font-size: 113%; text-align: left;
}


.HeaderGesven a:link { 
	color: #ffffff;
	}

.HeaderGesven a:visited { 
	color: #ffffff;
	}

.HeaderGesven a:hover, .CaptionGesven a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftGesven { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightGesven { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftGesven img{
	width: 4px;
	}

.HeaderRightGesven img{
	width: 9px;
	}


/* Grid Options */
.GridGesven { 
	border: 2px solid #3d84cc;
	width: 100%;
	}

.CaptionGesven th { 
	font-family: Verdana; font-size: 80%; text-align: left; vertical-align: top;
	padding: 2px;
	
	background-color: #c0eebc; color: #000000;
	white-space: nowrap;
	}

.CaptionGesven td { 
	font-family: Verdana; font-size: 80%; text-align: left; vertical-align: top;
	padding: 2px;
	
	background-color: #c0eebc; color: #000000;
	white-space: nowrap;
	}




html body .CaptionGesven th, html body .CaptionGesven td {
	font-family: Verdana; font-size: 100%; text-align: left; vertical-align: top;
}


.CaptionGesven a:link { 
	color: #000000;
	}

.CaptionGesven a:visited { 
	color: #000000;
	}

.CaptionGesven a:hover, .CaptionGesven a:active { 
	color: #ff0000;
	}

.CaptionGesven img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionGesven input {
	vertical-align: middle;
	}

.RowGesven th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.RowGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #000000;
	}
	



html body .RowGesven th, html body .RowGesven td {
	font-family: Verdana; font-size: 100%;
}


caption.RowGesven { 
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	border: 2px solid #3d84cc; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #000000;
	}




html body caption.RowGesven {
	font-family: Verdana; font-size: 100%;
}


.RowGesven a:link { 
	color: #0033cc;
	}

.RowGesven a:visited { 
	color: #830000;
	}

.RowGesven a:hover, .RowGesven a:active { 
	color: #ff0000;
	}

.SeparatorGesven{
	color: #3d84cc;
	}

.SeparatorGesven td{
	height: 1px;
	}


.AltRowGesven th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: left;
	vertical-align: top;
	background-color: #e6eff7; 
	color: #000000;
	}




html body .AltRowGesven th, html body .AltRowGesven td {
	font-family: Verdana; font-size: 100%;
}


.AltRowGesven a:link { 
	color: #0033cc;
	}

.AltRowGesven a:visited { 
	color: #830000;
	}

.AltRowGesven a:hover, .AltRowGesven a:active { 
	color: #ff0000;
	}

.NoRecordsGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: left;
	background-color: #f7f8fa; 
	color: #000000;
	vertical-align: top;
	}

.FooterGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	background-color: #f7f8fa; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}




html body .NoRecordsGesven td, html body .FooterGesven td {
	font-family: Verdana; font-size: 100%;
}


.FooterGesven a:link { 
	color: #0033cc;
	}

.FooterGesven a:visited { 
	color: #830000;
	}

.FooterGesven a:hover, .FooterGesven a:active { 
	color: #ff0000;
	}

.FooterGesven img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterGesven input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordGesven { 
	border: 2px solid #3d84cc;
	width: 100%;
	}

.ErrorGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f8fa; 
	}




html body .ErrorGesven td {
	font-family: Verdana; font-size: 100%;
}


.ControlsGesven th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.ControlsGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: left;
	vertical-align: top;
	background-color: #f7f8fa; 
	color: #000000;
	}
	
.BottomGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	background-color: #f7f8fa; color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}




html body .ControlsGesven th, html body .ControlsGesven td, html body .BottomGesven td {
	font-family: Verdana; font-size: 100%;
}


.BottomGesven a:link { 
	color: #0033cc;
	}

.BottomGesven a:visited { 
	color: #830000;
	}

.BottomGesven a:hover, .CaptionGesven a:active { 
	color: #ff0000;
	}

.BottomGesven img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomGesven input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionGesven th{
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
	}

.GroupCaptionGesven td{
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f8fa; 
	color: #000000;
	}




html body .GroupCaptionGesven th, html body .GroupCaptionGesven td {
	font-family: Verdana; font-size: 100%;
}


.GroupCaptionGesven a:link {
	color: #000000;
	}

.GroupCaptionGesven a:visited{
	color: #000000;
	}

.GroupCaptionGesven a:hover, .GroupCaptionGesven a:active{
	color: #ff0000;
	}

.GroupFooterGesven td{
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #c0eebc; 
	color: #000000;
	}




html body .GroupFooterGesven td {
	font-family: Verdana; font-size: 100%;
}


.GroupFooterGesven a:link {
	color: #0033cc;
	}

.GroupFooterGesven a:visited{
	color: #830000;
	}

.GroupFooterGesven a:hover, .GroupFooterGesven a:active{
	color: #ff0000;
	}

.GroupFooterGesven img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterGesven input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalGesven td{
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
	border-bottom: 2px solid #3d84cc;
	}




html body .SubTotalGesven td {
	font-family: Verdana; font-size: 100%;
}


.SubTotalGesven a:link {
	color: #0033cc;
	}

.SubTotalGesven a:visited{
	color: #830000;
	}

.SubTotalGesven a:hover, .SubTotalGesven a:active{
	color: #ff0000;
	}

.TotalGesven td{
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
	}




html body .TotalGesven td {
	font-family: Verdana; font-size: 100%;
}


.TotalGesven a:link {
	color: #0033cc;
	}

.TotalGesven a:visited{
	color: #830000;
	}

.TotalGesven a:hover, .TotalGesven a:active{
	color: #ff0000;
	}

/* Form Options */
.ButtonGesven { 
	background-color: #3d84cc; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-size: 85%; font-family: Tahoma;
	}

/* Calendar */

.CalendarGesven { 
	border: 2px solid #3d84cc;
	width: 100%;
	}

.CalendarWeekdayNameGesven{
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #e6eff7; 
	color: #000000;
	font-weight: normal;
	}




html body .CalendarWeekdayNameGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarWeekdayNameGesven a:link {
	color: #0033cc;
	}

.CalendarWeekdayNameGesven a:visited{
	color: #830000;
	}

.CalendarWeekdayNameGesven a:hover, .CalendarWeekdayNameGesven a:active{
	color: #ff0000;
	}

.CalendarWeekendNameGesven{
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #e6eff7;	
	color: #000000;
	font-weight: normal;
	}




html body .CalendarWeekendNameGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarWeekendNameGesven a:link {
	color: #000000;
	}

.CalendarWeekendNameGesven a:visited{
	color: #000000;
	}

.CalendarWeekendNameGesven a:link, .CalendarWeekendNameGesven a:visited{
	color: #ff0000;
	}

/* Calendar Day */
.CalendarDayGesven{
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: center;
	background-color: #f7f8fa;	
	color: #000000;
	}




html body .CalendarDayGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarDayGesven a:link {
	color: #0033cc;
	}

.CalendarDayGesven a:visited{
	color: #830000;
	}

.CalendarDayGesven a:hover, .CalendarDayGesven a:active{
	color: #ff0000;
	}

/* Calendar Weekend */
.CalendarWeekendGesven{
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: center;
	background-color: #e6eff7;	
	color: #000000;
	}




html body .CalendarWeekendGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarWeekendGesven a:link {
	color: #0033cc;
	}

.CalendarWeekendGesven a:visited{
	color: #830000;
	}

.CalendarWeekendGesven a:hover, .CalendarWeekendGesven a:active{
	color: #ff0000;
	}

/* Calendar Today */
.CalendarTodayGesven {
	font-family: Verdana; font-size: 80%;
	padding: 0px;
	border: 2px solid #3d84cc;
	text-align: center;
	background-color: #f7f8fa;	
	color: #000000;
	}




html body .CalendarTodayGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarTodayGesven a:link {
	color: #0033cc;
	}

.CalendarTodayGesven a:visited{
	color: #830000;
	}

.CalendarTodayGesven a:hover, .CalendarTodayGesven a:active {
	color: #ff0000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayGesven {
	font-family: Verdana; font-size: 80%;
	padding: 0px;
	border: 2px solid #3d84cc;
	text-align: center;
	background-color: #e6eff7;	
	color: #000000;
	}




html body .CalendarWeekendTodayGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarWeekendTodayGesven a:link {
	color: #0033cc;
	}

.CalendarWeekendTodayGesven a:visited{
	color: #830000;
	}

.CalendarWeekendTodayGesven a:hover, .CalendarWeekendTodayGesven a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayGesven{
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: center;
	background-color: #f7f8fa;	
	color: #3d84cc;
	}




html body .CalendarOtherMonthDayGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarOtherMonthDayGesven a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthDayGesven a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthDayGesven a:hover, .CalendarOtherMonthDayGesven a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayGesven {
	font-family: Verdana; font-size: 80%;
	padding: 0px;
	border: 2px solid #3d84cc;
	text-align: center;
	background-color: #f7f8fa;	
	color: #3d84cc;
	}




html body .CalendarOtherMonthTodayGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarOtherMonthTodayGesven a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthTodayGesven a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthTodayGesven a:hover, .CalendarOtherMonthTodayGesven a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendGesven {
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: center;
	background-color: #e6eff7;	
	color: #3d84cc;
	}




html body .CalendarOtherMonthWeekendGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarOtherMonthWeekendGesven a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendGesven a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendGesven a:hover, .CalendarOtherMonthWeekendGesven a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayGesven {
	font-family: Verdana; font-size: 80%;
	padding: 0px;
	border: 2px solid #3d84cc;
	text-align: center;
	color: #3d84cc;
	background-color: #e6eff7;	
	}
	



html body .CalendarOtherMonthWeekendTodayGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarOtherMonthWeekendTodayGesven a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendTodayGesven a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendTodayGesven a:hover, .CalendarOtherMonthWeekendTodayGesven a:active{
	color: #ff0000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayGesven{
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	background-color: #c0eebc;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	



html body .CalendarSelectedDayGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarSelectedDayGesven a:link {
	color: #000000;
	}

.CalendarSelectedDayGesven a:visited{
	color: #000000;
	}

.CalendarSelectedDayGesven a:hover, .CalendarSelectedDayGesven a:active{
	color: #ff0000;
	}

/* Calendar Navigator */
.CalendarNavigatorGesven {
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	background-color: #f7f8fa; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}




html body .CalendarNavigatorGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarNavigatorGesven a:link {
	color: #0033cc;
	}

.CalendarNavigatorGesven a:visited{
	color: #830000;
	}

.CalendarNavigatorGesven a:hover, .CalendarNavigatorGesven a:active{
	color: #ff0000;
	}

.CalendarNavigatorGesven img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorGesven td {
	font-family: Verdana; font-size: 80%;
	}

.CalendarNavigatorGesven th {
	font-family: Verdana; font-size: 80%;
	}




html body .CalendarNavigatorGesven th, html body .CalendarNavigatorGesven td {
	font-family: Verdana; font-size: 100%;
}


/* Calendar Extra */
.CalendarEventGesven{
	font-family: Verdana; font-size: 80%;
	text-align: left;
	}




html body .CalendarEventGesven {
	font-family: Verdana; font-size: 100%;
}


.CalendarEventGesven a:link {
	color: #0033cc;
	}

.CalendarEventGesven a:visited{
	color: #830000;
	}

.CalendarEventGesven a:hover, .CalendarEventGesven a:active{
	color: #ff0000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thGesven { 
	font-family: Verdana; font-size: 80%;
	font-weight: bold;
}




html body .thGesven {
	font-size: 100%;
}


.HeaderGesven .thGesven { 
	font-family: Verdana; font-size: 90%; text-align: left;
	padding: 2px;
	background-image: url('Images/HeaderBg.gif');  color: #ffffff;
	width: 100%;
	white-space: nowrap;
}




html body .HeaderGesven .thGesven {
	font-family: Verdana; font-size: 113%; text-align: left;
}


.CaptionGesven .thGesven { 
	font-family: Verdana; font-size: 80%; text-align: left; vertical-align: top;
	padding: 2px;
	
	background-color: #c0eebc; color: #000000;
	white-space: nowrap;
}




html body .CaptionGesven .thGesven {
	font-family: Verdana; font-size: 100%; text-align: left; vertical-align: top;
}


.RowGesven .thGesven { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowGesven .thGesven { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.ControlsGesven .thGesven { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	
	background-color: #f7f8fa; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptionGesven .thGesven {
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #e6eff7; 
	color: #000000;
}




html body .GroupCaptionGesven .thGesven {
	font-family: Verdana; font-size: 100%;
}

html body .RowGesven .thGesven, html body .AltRowGesven .thGesven, html body .ControlsGesven .thGesven {
	font-family: Verdana; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}


/* Class for Application Builder Menu */
.simpleMenuGesven td {
	font-family: Verdana; font-size: 80%;
}




html body .simpleMenuGesven td {
	font-family: Verdana; font-size: 100%;
} 

