body
{
	/* margin: 0px; */
	color: #676767;
	background-color: #FFFFFF;
	font-size: 11px;
	font-family: Tahoma, Arial;
	margin: 0px;
}

.body
{
	font-size: 11px;
	font-family: Tahoma, Arial;
}

.popupBody {
	font-size: 12px;
	color: black;
	line-height: 1.5;
	background-color: #F3F2E9;
	margin: 20px;
}

.popupContainer {
	border: 1px #CAC7BD solid;
	background-color: #FFFFFF;
	padding: 20px
}

.helpTip
{
	font-size: 11px;
	font-family: Tahoma, Arial;
	color: black;
}

form
{
	margin-top:0px;
	margin-bottom:0px;
}

input[type="checkbox"]
{
	margin-top: 2px;
	margin-bottom: 3px;
	vertical-align: middle;
}

.Intro
{
	font-size: 11px;
	font-family: Tahoma, Arial;
	padding: 0px 0px 3px 2px;
}

.Intro DIV
{
	margin: 10px 0px 12px 0px;
}

.Intro .Button
{
	font-size: 11px;
	width: 150px;
	font-family: Arial;
}

.textlinks a {
	color: #FBFBFC;
	font-family: Tahoma, Arial;
	font-size: 11px;
}

.textlinks {
	color: #FBFBFC;
	font-family: Tahoma, Arial;
	font-size: 11px;
	padding-right: 20px;
}

.top {
	color: #7CACDA;
}

.disabledlink {
	font-weight: normal;
	font-size: 11px;
	color: gray;
	font-style: normal;
	font-family: Tahoma, helvetica, sans-serif;
}

.Heading1
{
	font-size: 18px;
	font-weight: normal;
	font-family: Tahoma, Arial;
}

.Heading2
{
	font-weight: bold;
	font-size: 11px;
	color: #000000;
	font-family: Tahoma, Arial;
	background-color: #EDECEC;
	padding: 4px 8px 4px 8px;
	border-bottom: 5px solid #F9F9F9;
}

.Heading3
{
	font-size: 11px;
}

.Heading3 TD
{
	padding: 3px;
	background-color: #EDECEC;
	color: #000000;
	border-bottom: solid 1px white;
	font-weight: bold;
	border-right: 1px solid #F4F4F4;
	height: 25px;
}

.Field,
.Field50,
.Field150,
.field250
{
	font-size: 11px;
	color: #333333;
	font-family: Tahoma, Arial;
	margin-top: 3px;
	margin-right: 5px;
}

.Field50
{
	width: 50px;
}

.Field150
{
	width: 150px;
}

.field250
{
	width: 250px;
}

.error
{
	border: #CD1143 2px solid;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	font-family: Tahoma, Helvetica, sans-serif;
	background-color: #FCEEF3;
}

.toolTipBox
{
	font-family: Tahoma, Arial;
	font-size: 8.5pt;
	padding: 5px;
	margin-top: 10px;
	border: solid 1px #EDEACA;
	background-color: #FFFEE4;
	color: #333333;
	text-decoration: none;
	margin-bottom: 15px;
}

.hide
{
	display: none;
	visibility: hidden;
}

.paging
{
	font-size: 8pt;
	color: white;
	font-family: Tahoma, Arial;
}

.required
{
	font-size: 8pt;
	color: red;
	font-family: Tahoma, Arial;
}

.PageFooter
{
	font-family: Tahoma, Arial;
	font-size: 11px;
	width: 100%;
	/* text-align: right; */
	color: #676767;
}

.PageFooter A
{
	font-size: 11px;
	color: #676767;
}

.MidHeading
{
	color: #000000;
	font-weight: bold;
	font-size: 11px;
	font-family: Tahoma, Arial;
	background-color: #F9F9F9;
	width: 80%;
	padding: 3px 1px 1px 6px;
}

.MidHeading IMG
{
	vertical-align: middle;
}

.RightHeader
{
	font-weight: bold;
	font-size: 11px;
	color: black;
	font-family: Tahoma, Arial;
	background-color: #EDECEC;
	padding: 3px 1px 1px 6px;
	height: 18px;
}


ul, a
{
	color: #333333;
	font-family: Tahoma, Arial;
	font-size: 11px;
}

ul li
{
	line-height: 170%;
}

.Text
{
	color: #333333;
	font-family: Tahoma, Arial;
	font-size: 11px;
	margin-top: 5px;
}

.CalendarSelect
{
	width: 100px;
}

.CalendarSelectSmall
{
	width: 50px;
}

.Message
{
	background-color: #F4F4F4;
	font-weight: normal;
	font-size: 11px;
	color: #4e4f4f;
	font-family: Tahoma, verdana, helvetica, sans-serif;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

.PageHeader
{
	width: 100%;
	/* border-collapse: collapse; */
	background-color: #F7F7F7;
}

.PageHeader .Menu
{
	text-align: right;
	font-size: 11px;
	font-family: Tahoma, Arial;
	padding-right: 20px;
	vertical-align: bottom;
	padding-bottom: 5px;
}

.PageHeader .Menu A
{
	color: #000000;
	text-decoration: none;
}

.PageHeader .Menu A:hover
{
	text-decoration: underline;
}

.Panel
{
	background-color: #F9F9F9;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	border-bottom: 5px solid #F9F9F9;
}

.Panel A
{
	color: #333333;
}

.Panel TD
{
	font-size: 11px;
	font-family: Tahoma, Arial;
}

.FieldLabel
{
	padding: 6px 10px 0px 10px;
	font-weight: normal;
	font-size: 11px;
	font-family: Tahoma, Arial;
	text-decoration: none;
	vertical-align: top;
	width: 200px;
	height: 26px;
}

.SmallFieldLabel
{
	padding: 6px 10px 0px 10px;
    font-weight: normal;
    font-size: 11px;
    font-family: Tahoma, Arial;
    text-decoration: none;
    vertical-align: top;
    width: 120px;
	height: 26px;
}

TR.GridRow TD
{
    padding: 3px;
	border-bottom: solid 1px #EDECEC;
	background-color: #F9F9F9;
	border-right: 1px solid #F4F4F4;
}

TR.GridRowOver TD
{
	padding: 3px;
	border-bottom: solid 1px #EDECEC;
	background-color: #F3F3F3;
	border-right: 1px solid #F4F4F4;
}

.SmallButton
{
	font-size: 11px;
	width: 130px;
    font-family: Arial;
}

.FormButton
{
	font-size: 11px;
    width: 80px;
	font-family: Arial;
}

.formbutton_wide
{
	font-size: 11px;
	width: 100px;
	font-family: Arial;
}

.HelpText
{
	cursor: help;
	border-bottom: 1px dotted #28609B;
}

/* CS Created */

select
{
	font-size: 11px;
	font-family: Arial;
	width: 250px;
}

.DateTimeBox
{
	font-size: 11px;
	font-family: Arial;
	margin-bottom: 4px;
	width: 50px;
}

.EmptyRow
{
	background-color: #FFFFFF;
}

.infotiplist, .customfieldlist
{
	font-family: Verdana;
	font-size: 8.5pt;
	color: #000000;
	text-decoration: none;
	line-height: 125%;
}

.Panel .Gap
{
	height: 5px;
}

.datefield
{
	width: 70px;
	font-size: 11px;
	color: #333333;
	font-family: Tahoma, Arial;
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 3px;
}

.UserInfo
{
	font-size: 11px;
	font-family: Tahoma, Arial;
	color: #000000;
	background-color: #FFFDE0;
	padding: 7px;
}

.templategroup
{
	font-weight: bold;
	font-style: normal;
}

#tabnav
{
	height: 20px;
	margin: 0;
	padding-left: 10px;
	background: url(../../images/tab_bottom.gif) repeat-x bottom;
}

#tabnav li
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

#tabnav a:link, #tabnav a:visited
{
	float: left;
	background: #f3f3f3;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #666;
}

#tabnav a:link.active, #tabnav a:visited.active
{
	border-bottom: 1px solid #fff;
	background: #fff;
	color: #000;
}

#tabnav a:hover
{
	background: #fff;
}

.timePicker
{
	font-size: 11px;
	width: 80px;
	font-family: Arial;
	color: black;
	border: 2px inset !important;
}

.timePicker button {
	font-size: 11px;
	font-family: Arial;
	color: black;
	height: 10px;
	padding: 0px;
	margin: 0px;
	width: 16px;
}

.imageTag
{
	font-size: 11px;
	background-color: #FFFEE4;
	border: solid 1px #EDEACA;
	padding: 20px;
	line-height: 100%;
}

.imageTag img
{
	margin-bottom: 10px;
}

.quote
{
	border-left: solid 5px #CACACA;
	padding-left: 20px;
	line-height: 140%;
}

.customField
{
	background-color: pink;
}

.emailcredits
{
	color: #ffffcc;
}


/* ADDED IN NX 1.1.4 */
.PanelPlain
{
	background-color: #FFFFFF;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	border-bottom: 5px solid #FFFFFF;
}

.PanelPlain TD
{
	font-size: 11px;
	font-family: Tahoma, Arial;
}

.didyouKnowBox, .systemMessageBox
{
	font-family: Tahoma, Arial;
	font-size: 8.5pt;
	padding: 5px;
	border: solid 1px #e3e3e3;
	background-color: #f4feff;
	color: #333333;
	text-decoration: none;
	margin-bottom: 15px;
}

.spam_notspam {
	background-color: #00FF00;
	height:5px;
}
.spam_alert {
	background-color: #FFFF66;
	height:5px;
}
.spam_spam {
	background-color: #FF0000;
	height:5px;
}
.spam_info {
	padding: 4px 8px 4px 8px;
}

/* Interspire Select Replacemnt CSS */
.ISSelect {
	background:#FFFFFF none repeat scroll 0%;
	border:1px solid #7F9DB9;
	float:left;
	height:200px;
	overflow:auto;
	width:300px;
}

.ISSelect ul, .ISSelect li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0pt;
	padding:0pt;
}
.ISSelect li {
	border-bottom:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	cursor:default;
	padding-bottom:0px;
	padding-left:4px;
	padding-top:0px;
}
.ISSelect li.ISSelectGroup {
	padding-left:0pt;
}
.ISSelect input {
	vertical-align:middle;
}
.ISSelectGroup li {
	padding-left:20px;
}
.ISSelect .ISSelectOptionHover {
	background:#EFEFEF none repeat scroll 0%;
}
.ISSelectGroup div {
	font-style:italic;
	font-weight:bold;
	padding-left:4px;
}
.ISSelect li.ISSelectGroup {
	background:transparent none repeat scroll 0%;
	border-bottom:0pt none;
	border-top:0pt none;
	padding-bottom:0pt;
}
.ISSelect .SelectedRow {
	background:#316AC5 none repeat scroll 0%;
	border-bottom:1px solid #316AC5;
	border-top:1px solid #316AC5;
	color:#FFFFFF;
}


/* ADDED IN NX 1.2.0 */


label {
	cursor: pointer;
}

/* For the loading indicator on the Statistics page */
.loading_indicator {
  position: fixed;
  top: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.loading_indicator span {
  text-align: center;
  display: block;
}
.loading_indicator div {
  text-align: center;
  background: #FFFEE4;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  padding: 3px;
}

/* Added in NX 1.3.3 */

.tutorial_example
{
	font-family: Arial;
	font-size: 9pt;
	padding: 10px;
	margin-top: 10px;
	border: solid 1px #EDEACA;
	background-color: #FFFEE4;
	color: #333333;
	text-decoration: none;
	width:300px;
	margin: auto 33% auto 33%;
}

.center_div
{
	margin: auto 33% auto 33%;
}

.TestModeEnabled
{
	cursor: pointer;
	font-size: 11px;
	font-family: Tahoma;
	color: #000000;
	background-color: #FFFDE0;
	padding: 5px 0px 5px 20px;
	border-bottom: solid 1px #716F64;
}

.TestModeEnabledOver
{
	cursor: pointer;
	font-size: 11px;
	font-family: Tahoma;
	color: #FFFFFF;
	background-color: #316AC5;
	padding: 5px 0px 5px 20px;
	border-bottom: solid 1px #716F64;
}

