/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorLeytecWide {
	background-color: #d7d7d7;
	}

.FormTitleBgColorLeytecWide {
	background-color: #7c7c7c;
	}

.FormTitleFontColorLeytecWide {
	color: #ffffff;
	}

.CaptionBgColorLeytecWide {
	background-color: #dfdfdf;
	}

.CaptionFontColorLeytecWide {
	color: #000000;
	}

.DataBgColorLeytecWide {
	background-color: #ffffff;
	}

.AltDataBgColorLeytecWide {
	background-color: #f6f6f6;
	}

.DataFontColorLeytecWide {
	color: #000000;
	}

.LinkColorLeytecWide {
	color: #0039e4;
	}

.VisitedLinkColorLeytecWide {
	color: #930093;
	}

.HoverLinkColorLeytecWide {
	color: #ff0000;
	}

.ColorBgButtonLeytecWide {
	background-color: #7c7c7c;
}

.ColorFontButtonLeytecWide {
	color: #ffffff;
}

.ColorBgButtonPassiveLeytecWide {
	background-color: #c1c1c1;
}

.ColorFontButtonPassiveLeytecWide {
	color: #ffffff;
}



.HeaderLeytecWide {
	width: 100%;
	}

.HeaderLeytecWide th { 
	font-family: Verdana; font-size: 110%; font-weight: bold; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
	
	}


html>body .HeaderLeytecWide th {
	font-family: Verdana; font-size: 140%; font-weight: bold; text-align: left;
}


/*ie6*/
* html body .HeaderLeytecWide th {
	font-family: Verdana; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.HeaderLeytecWide a:link { 
	color: #ffffff;
	}

.HeaderLeytecWide a:visited { 
	color: #ffffff;
	}

.HeaderLeytecWide a:hover, .CaptionLeytecWide a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftLeytecWide { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightLeytecWide { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftLeytecWide img{
	width: 12px;
	}

.HeaderRightLeytecWide img{
	width: 12px;
	}


/* Grid Options */
.GridLeytecWide { 
	border: 1px solid #7c7c7c;
	width: 100%;
	}

.CaptionLeytecWide th { 
	font-family: Verdana; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	
	background-color: #dfdfdf; color: #000000;
	white-space: nowrap;
	}

.CaptionLeytecWide td { 
	font-family: Verdana; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	
	background-color: #dfdfdf; color: #000000;
	white-space: nowrap;
	}


html>body .CaptionLeytecWide th, html>body .CaptionLeytecWide td {
	font-family: Verdana; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionLeytecWide th, * html body .CaptionLeytecWide td {
	font-family: Verdana; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.CaptionLeytecWide a:link { 
	color: #000000;
	}

.CaptionLeytecWide a:visited { 
	color: #000000;
	}

.CaptionLeytecWide a:hover, .CaptionLeytecWide a:active { 
	color: #ff0000;
	}

.CaptionLeytecWide img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionLeytecWide input {
	vertical-align: middle;
	}

.RowLeytecWide th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	
	background-color: #ffffff; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.RowLeytecWide td { 
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: left;
	vertical-align: top;
	background-color: #ffffff; 
	color: #000000;
	}
	

html>body .RowLeytecWide th, html>body .RowLeytecWide td {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .RowLeytecWide th, * html body .RowLeytecWide td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

caption.RowLeytecWide { 
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	border: 1px solid #7c7c7c; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #ffffff; 
	color: #000000;
	}


html>body caption.RowLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body caption.RowLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.RowLeytecWide a:link { 
	color: #0039e4;
	}

.RowLeytecWide a:visited { 
	color: #930093;
	}

.RowLeytecWide a:hover, .RowLeytecWide a:active { 
	color: #ff0000;
	}

.SeparatorLeytecWide{
	color: #7c7c7c;
	}

.SeparatorLeytecWide td{
	height: 1px;
	}


.AltRowLeytecWide th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	
	background-color: #ffffff; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowLeytecWide td { 
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: left;
	vertical-align: top;
	background-color: #f6f6f6; 
	color: #000000;
	}


html>body .AltRowLeytecWide th, html>body .AltRowLeytecWide td {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .AltRowLeytecWide th, * html body .AltRowLeytecWide td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.AltRowLeytecWide a:link { 
	color: #0039e4;
	}

.AltRowLeytecWide a:visited { 
	color: #930093;
	}

.AltRowLeytecWide a:hover, .AltRowLeytecWide a:active { 
	color: #ff0000;
	}

.NoRecordsLeytecWide td { 
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: left;
	background-color: #ffffff; 
	color: #000000;
	vertical-align: top;
	}

.FooterLeytecWide td { 
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	background-color: #dfdfdf; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .NoRecordsLeytecWide td, html>body .FooterLeytecWide td {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .NoRecordsLeytecWide td, * html body .FooterLeytecWide td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.FooterLeytecWide a:link { 
	color: #0039e4;
	}

.FooterLeytecWide a:visited { 
	color: #930093;
	}

.FooterLeytecWide a:hover, .FooterLeytecWide a:active { 
	color: #ff0000;
	}

.FooterLeytecWide img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterLeytecWide input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordLeytecWide { 
	border: 1px solid #7c7c7c;
	width: 100%;
	}

.ErrorLeytecWide td { 
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #ffffff; 
	}


* html>body .ErrorLeytecWide td {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .ErrorLeytecWide td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.ControlsLeytecWide th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	
	background-color: #ffffff; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.ControlsLeytecWide td { 
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: left;
	vertical-align: top;
	background-color: #ffffff; 
	color: #000000;
	}
	
.BottomLeytecWide td { 
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	background-color: #dfdfdf; color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .ControlsLeytecWide th, html>body .ControlsLeytecWide td, html>body .BottomLeytecWide td {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .ControlsLeytecWide th, * html body .ControlsLeytecWide td, * html body .BottomLeytecWide td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.BottomLeytecWide a:link { 
	color: #0039e4;
	}

.BottomLeytecWide a:visited { 
	color: #930093;
	}

.BottomLeytecWide a:hover, .CaptionLeytecWide a:active { 
	color: #ff0000;
	}

.BottomLeytecWide img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomLeytecWide input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionLeytecWide th{
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f6f6f6; 
	color: #000000;
	}

.GroupCaptionLeytecWide td{
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #ffffff; 
	color: #000000;
	}


html>body .GroupCaptionLeytecWide th, html>body .GroupCaptionLeytecWide td {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .GroupCaptionLeytecWide th, * html body .GroupCaptionLeytecWide td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.GroupCaptionLeytecWide a:link {
	color: #000000;
	}

.GroupCaptionLeytecWide a:visited{
	color: #000000;
	}

.GroupCaptionLeytecWide a:hover, .GroupCaptionLeytecWide a:active{
	color: #ff0000;
	}

.GroupFooterLeytecWide td{
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #dfdfdf; 
	color: #000000;
	}


html>body .GroupFooterLeytecWide td {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .GroupFooterLeytecWide td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.GroupFooterLeytecWide a:link {
	color: #0039e4;
	}

.GroupFooterLeytecWide a:visited{
	color: #930093;
	}

.GroupFooterLeytecWide a:hover, .GroupFooterLeytecWide a:active{
	color: #ff0000;
	}

.GroupFooterLeytecWide img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterLeytecWide input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalLeytecWide td{
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f6f6f6; 
	color: #000000;
	border-bottom: 2px solid #7c7c7c;
	}


html>body .SubTotalLeytecWide td {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .SubTotalLeytecWide td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.SubTotalLeytecWide a:link {
	color: #0039e4;
	}

.SubTotalLeytecWide a:visited{
	color: #930093;
	}

.SubTotalLeytecWide a:hover, .SubTotalLeytecWide a:active{
	color: #ff0000;
	}

.TotalLeytecWide td{
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #f6f6f6; 
	color: #000000;
	}


html>body .TotalLeytecWide td {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .TotalLeytecWide td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.TotalLeytecWide a:link {
	color: #0039e4;
	}

.TotalLeytecWide a:visited{
	color: #930093;
	}

.TotalLeytecWide a:hover, .TotalLeytecWide a:active{
	color: #ff0000;
	}

/* Form Options */
.ButtonLeytecWide { 
	background-color: #7c7c7c; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 11px; font-weight: bold;
	}

/* Calendar */

.CalendarLeytecWide { 
	border: 1px solid #7c7c7c;
	width: 100%;
	}

.CalendarWeekdayNameLeytecWide{
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #f6f6f6; 
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekdayNameLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekdayNameLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarWeekdayNameLeytecWide a:link {
	color: #0039e4;
	}

.CalendarWeekdayNameLeytecWide a:visited{
	color: #930093;
	}

.CalendarWeekdayNameLeytecWide a:hover, .CalendarWeekdayNameLeytecWide a:active{
	color: #ff0000;
	}

.CalendarWeekendNameLeytecWide{
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #f6f6f6;	
	color: #000000;
	font-weight: normal;
	}


html>body .CalendarWeekendNameLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendNameLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarWeekendNameLeytecWide a:link {
	color: #000000;
	}

.CalendarWeekendNameLeytecWide a:visited{
	color: #000000;
	}

.CalendarWeekendNameLeytecWide a:link, .CalendarWeekendNameLeytecWide a:visited{
	color: #ff0000;
	}

/* Calendar Day */
.CalendarDayLeytecWide{
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: center;
	background-color: #ffffff;	
	color: #000000;
	}


html>body .CalendarDayLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarDayLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarDayLeytecWide a:link {
	color: #0039e4;
	}

.CalendarDayLeytecWide a:visited{
	color: #930093;
	}

.CalendarDayLeytecWide a:hover, .CalendarDayLeytecWide a:active{
	color: #ff0000;
	}

/* Calendar Weekend */
.CalendarWeekendLeytecWide{
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: center;
	background-color: #f6f6f6;	
	color: #000000;
	}


html>body .CalendarWeekendLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarWeekendLeytecWide a:link {
	color: #0039e4;
	}

.CalendarWeekendLeytecWide a:visited{
	color: #930093;
	}

.CalendarWeekendLeytecWide a:hover, .CalendarWeekendLeytecWide a:active{
	color: #ff0000;
	}

/* Calendar Today */
.CalendarTodayLeytecWide {
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	border: 2px solid #7c7c7c;
	text-align: center;
	background-color: #ffffff;	
	color: #000000;
	}


html>body .CalendarTodayLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarTodayLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarTodayLeytecWide a:link {
	color: #0039e4;
	}

.CalendarTodayLeytecWide a:visited{
	color: #930093;
	}

.CalendarTodayLeytecWide a:hover, .CalendarTodayLeytecWide a:active {
	color: #ff0000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayLeytecWide {
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	border: 2px solid #7c7c7c;
	text-align: center;
	background-color: #f6f6f6;	
	color: #000000;
	}


html>body .CalendarWeekendTodayLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendTodayLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarWeekendTodayLeytecWide a:link {
	color: #0039e4;
	}

.CalendarWeekendTodayLeytecWide a:visited{
	color: #930093;
	}

.CalendarWeekendTodayLeytecWide a:hover, .CalendarWeekendTodayLeytecWide a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayLeytecWide{
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: center;
	background-color: #ffffff;	
	color: #7c7c7c;
	}


html>body .CalendarOtherMonthDayLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthDayLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarOtherMonthDayLeytecWide a:link {
	color: #7c7c7c;
	}

.CalendarOtherMonthDayLeytecWide a:visited{
	color: #7c7c7c;
	}

.CalendarOtherMonthDayLeytecWide a:hover, .CalendarOtherMonthDayLeytecWide a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayLeytecWide {
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	border: 2px solid #7c7c7c;
	text-align: center;
	background-color: #ffffff;	
	color: #7c7c7c;
	}


html>body .CalendarOtherMonthTodayLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthTodayLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarOtherMonthTodayLeytecWide a:link {
	color: #7c7c7c;
	}

.CalendarOtherMonthTodayLeytecWide a:visited{
	color: #7c7c7c;
	}

.CalendarOtherMonthTodayLeytecWide a:hover, .CalendarOtherMonthTodayLeytecWide a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendLeytecWide {
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: center;
	background-color: #f6f6f6;	
	color: #7c7c7c;
	}


html>body .CalendarOtherMonthWeekendLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendLeytecWide a:link {
	color: #7c7c7c;
	}

.CalendarOtherMonthWeekendLeytecWide a:visited{
	color: #7c7c7c;
	}

.CalendarOtherMonthWeekendLeytecWide a:hover, .CalendarOtherMonthWeekendLeytecWide a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayLeytecWide {
	font-family: Verdana; font-size: 80%;
	padding: 2px;
	border: 2px solid #7c7c7c;
	text-align: center;
	color: #7c7c7c;
	background-color: #f6f6f6;	
	}
	

html>body .CalendarOtherMonthWeekendTodayLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendTodayLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendTodayLeytecWide a:link {
	color: #7c7c7c;
	}

.CalendarOtherMonthWeekendTodayLeytecWide a:visited{
	color: #7c7c7c;
	}

.CalendarOtherMonthWeekendTodayLeytecWide a:hover, .CalendarOtherMonthWeekendTodayLeytecWide a:active{
	color: #ff0000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayLeytecWide{
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	background-color: #dfdfdf;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	

html>body .CalendarSelectedDayLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarSelectedDayLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarSelectedDayLeytecWide a:link {
	color: #000000;
	}

.CalendarSelectedDayLeytecWide a:visited{
	color: #000000;
	}

.CalendarSelectedDayLeytecWide a:hover, .CalendarSelectedDayLeytecWide a:active{
	color: #ff0000;
	}

/* Calendar Navigator */
.CalendarNavigatorLeytecWide {
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	background-color: #dfdfdf; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}


html>body .CalendarNavigatorLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarNavigatorLeytecWide a:link {
	color: #0039e4;
	}

.CalendarNavigatorLeytecWide a:visited{
	color: #930093;
	}

.CalendarNavigatorLeytecWide a:hover, .CalendarNavigatorLeytecWide a:active{
	color: #ff0000;
	}

.CalendarNavigatorLeytecWide img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorLeytecWide td {
	font-family: Verdana; font-size: 80%;
	}

.CalendarNavigatorLeytecWide th {
	font-family: Verdana; font-size: 80%;
	}


html>body .CalendarNavigatorLeytecWide th, html>body .CalendarNavigatorLeytecWide td {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorLeytecWide th, * html body .CalendarNavigatorLeytecWide td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEventLeytecWide{
	font-family: Verdana; font-size: 80%;
	text-align: left;
	}


html>body .CalendarEventLeytecWide {
	font-family: Verdana; font-size: 100%;
}


/*ie6*/
* html body .CalendarEventLeytecWide {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarEventLeytecWide a:link {
	color: #0039e4;
	}

.CalendarEventLeytecWide a:visited{
	color: #930093;
	}

.CalendarEventLeytecWide a:hover, .CalendarEventLeytecWide a:active{
	color: #ff0000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thLeytecWide { 
	font-family: Verdana; font-size: 80%;
	font-weight: bold;
}


html>body .thLeytecWide {
	font-size: 100%;
}


/*ie6*/
* html body .thLeytecWide {
	font-size: 100%;
}
/*end*/

.HeaderLeytecWide .thLeytecWide { 
	font-family: Verdana; font-size: 110%; font-weight: bold; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
}


html>body .HeaderLeytecWide .thLeytecWide {
	font-family: Verdana; font-size: 140%; font-weight: bold; text-align: left;
}


/*ie6*/
* html body .HeaderLeytecWide .thLeytecWide {
	font-family: Verdana; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.CaptionLeytecWide .thLeytecWide { 
	font-family: Verdana; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	
	background-color: #dfdfdf; color: #000000;
	white-space: nowrap;
}


html>body .CaptionLeytecWide .thLeytecWide {
	font-family: Verdana; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionLeytecWide .thLeytecWide {
	font-family: Verdana; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.RowLeytecWide .thLeytecWide { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	
	background-color: #ffffff; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowLeytecWide .thLeytecWide { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	
	background-color: #ffffff; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.ControlsLeytecWide .thLeytecWide { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	
	background-color: #ffffff; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptionLeytecWide .thLeytecWide {
	font-family: Verdana; font-size: 80%;
	padding: 4px;
	
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #f6f6f6; 
	color: #000000;
}


html>body .GroupCaptionLeytecWide .thLeytecWide {
	font-family: Verdana; font-size: 100%;
}

html>body .RowLeytecWide .thLeytecWide, html>body .AltRowLeytecWide .thLeytecWide, html>body .ControlsLeytecWide .thLeytecWide {
	font-family: Verdana; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .GroupCaptionLeytecWide .thLeytecWide {
	font-family: Verdana; font-size: 100%;
}

* html body .RowLeytecWide .thLeytecWide, * html body .AltRowLeytecWide .thLeytecWide, * html body .ControlsLeytecWide .thLeytecWide {
	font-family: Verdana; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenuLeytecWide td {
	font-family: Verdana; font-size: 80%;
}


html>body .simpleMenuLeytecWide td {
	font-family: Verdana; font-size: 100%;
} 


/*ie6*/
* html body .simpleMenuLeytecWide td {
	font-family: Verdana; font-size: 100%;
} 
/*end*/
