#mainNav{clear:both}
#mainNav li{
	height:30px;
	list-style:none;
	float:left;
	background-color:#EBEBEB;
	background-image: url(Images/navBtn.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

#mainNav li.current{
	background-color:#C36615;
	background-image: url(Images/navCurrentBtn.gif);
}

#mainNav li.lastDone{
	background-color:#7C8437;
	background-image: url(Images/navLastDoneBtn.gif);
}

#mainNav li.done{
	background-color:#7C8437;
	background-image: url(Images/navDoneBtn.gif);
}

#mainNav li a, #mainNav li a:link, #mainNav li a:visited, #mainNav li a:hover, #mainNav li a:active {
color:#ccc;
}

#mainNav li.lastDone a, #mainNav li.lastDone a:link, #mainNav li.lastDone a:visited, #mainNav li.lastDone a:hover, #mainNav li.lastDone a:active, #mainNav li.current a, #mainNav li.current a:link, #mainNav li.current a:visited, #mainNav li.current a:hover, #mainNav li.current a:active, #mainNav li.done a, #mainNav li.done a:link, #mainNav li.done a:visited, #mainNav li.done a:hover, #mainNav li.done a:active {
color:#fff;
}

#mainNav li.done a:hover, #mainNav li.lastDone a:hover  {
    color:#FFFF99;
    cursor:hand;
    font_weight: bold;
}

#mainNav li a em{
width:150px;
display:block;
margin:6px 0 0 10px;
font-style:normal;
font-weight:bold;
}

#mainNav li a span{
width:140px;
display:block;
margin-left:10px;
font-weight:normal;
}

#mainNav li.mainNavNoBg{
background-image:none;
}

#mainNav li a{
    height:30px;
    display:block;
    padding-top:5px;
    text-align:center;
    font-size:11px;
}
#mainNav li a:hover{
    font-weight: bold;
}

#mainNav.ochoStep li{width:118px;}
#mainNav.ochoStep li.mainNavNoBg{width:124px;}
#mainNav.ochoStep li a{width:118px;}

/* #mainNav.fiveStep */
#mainNav.fiveStep li{width:182px;}
#mainNav.fiveStep li a{width:182px;}

/* #mainNav.fourStep */
#mainNav.fourStep li{width:227px;}
#mainNav.fourStep li.mainNavNoBg{width:229px;}
#mainNav.fourStep li a{width:227px;}

/* #mainNav.threeStep */
#mainNav.threeStep li{width:303px;}
#mainNav.threeStep li.mainNavNoBg{width:304px;}
#mainNav.threeStep li a{width:303px;}

/* #mainNav.twoStep */
#mainNav.twoStep li{width:455px;}
#mainNav.twoStep li a{width:455px;}


#wizardpanel {
	background-color: #FFF; 
    display:none;
}

#wizardcontent {
	height:360px;
    overflow:auto;
    
    border: #6E6E6E 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    padding: 10px 10px 10px 10px;
}

#wizardwrapper{
    width:950px;
    
}
/* BUTTONS */
.buttons{
    /*
    margin:5px 0px;
    clear:both;
    height: 25px;
    */
    padding: 4px;
    /* border: #6E6E6E 1px solid; */
    border-top: 1px dashed #CACACA;
    /*
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    */
    vertical-align:middle;
    text-align:right;
}

.next {
    float:right;
}

.previous {
    float:left;
}

#wizardcontent td,th {
    padding:5px;
    font-size: 11px;
}

#wizardcontent th {
    font-weight: bold;
    white-space: nowrap; 
}

fieldset {
    background-color: #F7F7F7;
    padding: 2px 10px 2px 10px;
    border: #CACACA 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;    
}
legend{
    font-weight: bold;
}

.previaTema{
    background-color: #FFFFFF;
    text-align: center;
    width: 160px;
    margin: 0px 4px 4px 0px;
    float: left;
    display: inline-block;
    border: #6E6E6E 1px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    min-height: 146px;

}
.previaTema img{
    border:1px solid #CACACA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;

}

.previaTema input{
    margin-bottom:2px;
}

.previaTema img{
    margin-bottom:2px;
}

/*aspecto de los controles */



textarea, input, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], select {
    background-color:#FFFFFF;
    border-color:#DFDFDF;
    -moz-border-radius:4px 4px 4px 4px;
    border-style:solid;
    border-width:1px;
    padding: 2px;
    font-size:12px;
}

input[type="image"]{
    background-color:transparent;
    border:none;
}    

input.color {
    margin-right:5px;
    width:85px;
    -moz-border-radius:4px 4px 4px 4px;
    border-style:solid;
    border-width:1px;
    border-color:#DFDFDF;
    text-align:center;
}

input:focus{
    background-color:#FFF9DF;
    box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    -moz-box-shadow: 0 0 1em grey;
}

input[type="image"]:focus{
    background-color:transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

textarea:focus{
    background-color:#FFF9DF;
    box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    -moz-box-shadow: 0 0 1em grey;
}


#paneles td,th {
    padding:5px;
    font-size: 11px;
}

#paneles th {
    font-weight: bold;
    white-space: nowrap; 
}

#paneles h3{
    text-decoration:none;
    font-style:normal;
}
