{assign var=title value="Backup"}
{include file="admin/header.inc.html"}
<center>
<br /><h3>{$title}</h3>

Please click on the button below to create backup 
of aMembers tables in MySQL database. 

<form method="post" action="backup.php">
<input type="submit" name="do_backup" value="Backup" />
</form>


{include file="admin/footer.inc.html"}

