{include file="header.html"}
<center>
<br />

<form name="pay" method="post" action="{$ProcessUrl}">
    <input type="hidden" name="Merchant" value="{$Merchant}" />
    <input type="hidden" name="Site" value="{$Site}" />
    {if $Schedule}
    <input type="hidden" name="Schedule" value="{$Schedule}" />
    {/if}
    <input type="hidden" name="Amount" value="{$Amount}" />
    <input type="hidden" name="Currency" value="{$Currency}" />
    <input type="hidden" name="TransRef" value="{$TransRef}" />
    <input type="hidden" name="Product" value="{$Product}" />
    {if $PaymentType ne '-1'}
    <input type="hidden" name="PaymentType" value="{$PaymentType}" />
    {else}
    <p>We accept Visa, MasterCard, and eCheck payments (US bank account only):</p>
    <p>
        <input type="radio" name="PaymentType" value="cc" checked>Credit Card (Visa, MasterCard)<br/>
        <input type="radio" name="PaymentType" value="ach">eCheck (US bank account only)
    </p>
    {/if}
    <input type="hidden" name="AttemptMode" value="{$AttemptMode}" />
    <input type="hidden" name="TestTrans" value="{$TestTrans}" />
    <input type="hidden" name="customer[email]" value="{$customer.email}" />
    <input type="hidden" name="customer[first_name]" value="{$customer.name_f}" />
    <input type="hidden" name="customer[last_name]" value="{$customer.name_l}" />
    <input type=submit value="&nbsp;&nbsp;&nbsp;Pay Now!&nbsp;&nbsp;&nbsp;" class="inputb" /><br /><br />
</form>

</center>
{include file="footer.html"}
{if $PaymentType ne '-1'}
<script type="text/javascript">
document.forms[0].submit();
</script>
{/if}