/* Stylesheet for my demo pages for jScrollPane - these styles aren't necessary for using jScrollPane and aren't specific to any particular example */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
}

a.jScrollArrowUp {
	background: url(../images/arrow_top.jpg) no-repeat 0 0;
	height:17px;
	width:22px;
}
a.jScrollArrowUp:hover {
	
}
a.jScrollArrowDown {
	background: url(../images/arrow_button.jpg) no-repeat 0 0;
	height:17px;
	width:22px;
}
a.jScrollArrowDown:hover {
	
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	
}


.orange-bar .jScrollPaneTrack {
	background: #f60;
}
.orange-bar .jScrollPaneDrag {
	background: #00f url(../images/drag_grab.gif) no-repeat  ;
}
.orange-bar .scroll-pane {
	background: #69f;
}
			
.holder {
	float: left;
	margin: 17px;
}

.scroll-pane {
	width: 200px;
	height: 450px;
	overflow: auto;
	background: #FFF;
}

.wide {
	width: 400px;
}

.super-wide {
	width: 700px;
}

.tall {
	height: 400px;
}

#pane1 {
}
#pane2 {
	height: 150px;
}
#pane3 {
	height: 190px;
}
#pane4 {
	height: 190px;
}
