// Disable text selection outside of IE
.iPhoneCheckContainer, 
.iPhoneCheckContainer label {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none; }

.iPhoneCheckDisabled {  
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }


.iPhoneCheckContainer {
	
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden; }
  .iPhoneCheckContainer input {
	  
    position: absolute;
    top: 5px;
    left: 30px; 
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  .iPhoneCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
  label.iPhoneCheckLabelOn {
    color: #fff;
    background: url(../images/on.png) no-repeat;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    padding-top: 5px; }
    label.iPhoneCheckLabelOn span {
      padding-left: 8px; }
  label.iPhoneCheckLabelOff {
    color: #8B8B8B;
    background: url(../images/off.png) no-repeat right 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    right: 0; }
    label.iPhoneCheckLabelOff span {
      padding-right: 8px; }
    
.iPhoneCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url(../images/slider_left.png) no-repeat;
  padding-left: 3px; }
  .iPhoneCheckHandleRight {
    height: 100%;
    width: 100%;
    padding-right: 3px;
    background: url(../images/slider_right.png) no-repeat right 0; }
  .iPhoneCheckHandleCenter {
    height: 100%;
    width: 100%;
    background: url(../images/slider_center.png); }