<br /><h3>{$title}</h3>

<center>

<table class=hedit>
<tr>
{foreach from=$header item=i}<th>{$i}</th>
{/foreach}
</tr>

{foreach from=$report item=r}
<tr class={cycle values="xx,odd"}>
<td align=right><a href="users.php?action=edit_payment&member_id={$r.member_id}&payment_id={$r.payment_id}">{$r.payment_id}</a></td>
<td align=right>{$r.cancelled|amember_date_format}</td>
<td align=right><a href="users.php?action=payments&member_id={$r.member_id}">{$r.login}</a></td>
<td align=right>{$r.title}</td>
<td align=right>{$r.begin_date|amember_date_format}-{$r.expire_date|amember_date_format}</td>
<td align=right>{$r.paysys_id}</td>
<td align=right>{$r.receipt_id}</td>
<td align=right>{$r.amount}</td>
<td align=right>{$r.tax_amount}</td>
<td align=right><a href="users.php?action=edit_payment&member_id={$r.member_id}&payment_id={$r.payment_id}">edit</a></td>
</tr>
{/foreach}

<tr class={cycle values="xx,odd"}>
<th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>Total</th>
<th align=right>&nbsp;{$total}</th><th align=right>&nbsp;{$tax_total}</th><th>&nbsp;</th>
</tr>
</table>
<br>
<br /><a href="report.php"><small>New Report</small></a>

</center>
