/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorGesven {
	background-color: #cccccc;
	}

.FormTitleBgColorGesven {
	background-color: #767676;
	}

.FormTitleFontColorGesven {
	color: #fcfcfc;
	}

.CaptionBgColorGesven {
	background-color: #d4d4d4;
	}

.CaptionFontColorGesven {
	color: #000000;
	}

.DataBgColorGesven {
	background-color: #f4f4f4;
	}

.AltDataBgColorGesven {
	background-color: #eaeaea;
	}

.DataFontColorGesven {
	color: #000000;
	}

.LinkColorGesven {
	color: #0031c5;
	}

.VisitedLinkColorGesven {
	color: #800080;
	}

.HoverLinkColorGesven {
	color: #f70000;
	}

.ColorBgButtonGesven {
	background-color: #767676;
}

.ColorFontButtonGesven {
	color: #fcfcfc;
}

.ColorBgButtonPassiveGesven {
	background-color: #b8b8b8;
}

.ColorFontButtonPassiveGesven {
	color: #fcfcfc;
}



.HeaderGesven {
	width: 100%;
	}

.HeaderGesven th { 
	font-family: Verdana; font-size: 110%; font-weight: bold; text-align: left;
	padding: 3px;
	background-color: #767676; color: #fcfcfc;
	width: 100%;
	white-space: nowrap;
	
	}



/*ie6*/
* html body .HeaderGesven th {
	font-family: Verdana; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.HeaderGesven a:link { 
	color: #fcfcfc;
	}

.HeaderGesven a:visited { 
	color: #fcfcfc;
	}

.HeaderGesven a:hover, .CaptionGesven a:active { 
	color: #fcfcfc; text-decoration: none;
	}

.HeaderLeftGesven { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightGesven { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftGesven img{
	width: 12px;
	}

.HeaderRightGesven img{
	width: 12px;
	}


/* Grid Options */
.GridGesven { 
	border: 1px solid #767676;
	width: 100%;
	}

.CaptionGesven th { 
	font-family: Verdana; font-size: 80%; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #d4d4d4; color: #000000;
	white-space: nowrap;
	}

.CaptionGesven td { 
	font-family: Verdana; font-size: 80%; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #d4d4d4; color: #000000;
	white-space: nowrap;
	}



/*ie6*/
* html body .CaptionGesven th, * html body .CaptionGesven td {
	font-family: Verdana; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.CaptionGesven a:link { 
	color: #000000;
	}

.CaptionGesven a:visited { 
	color: #000000;
	}

.CaptionGesven a:hover, .CaptionGesven a:active { 
	color: #f70000;
	}

.CaptionGesven img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionGesven input {
	vertical-align: middle;
	}

.RowGesven th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.RowGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	background-color: #f4f4f4; 
	color: #000000;
	}
	


/*ie6*/
* html body .RowGesven th, * html body .RowGesven td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

caption.RowGesven { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border: 1px solid #767676; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f4f4f4; 
	color: #000000;
	}



/*ie6*/
* html body caption.RowGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.RowGesven a:link { 
	color: #0031c5;
	}

.RowGesven a:visited { 
	color: #800080;
	}

.RowGesven a:hover, .RowGesven a:active { 
	color: #f70000;
	}

.SeparatorGesven{
	color: #767676;
	}

.SeparatorGesven td{
	height: 1px;
	}


.AltRowGesven th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	background-color: #eaeaea; 
	color: #000000;
	}



/*ie6*/
* html body .AltRowGesven th, * html body .AltRowGesven td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.AltRowGesven a:link { 
	color: #0031c5;
	}

.AltRowGesven a:visited { 
	color: #800080;
	}

.AltRowGesven a:hover, .AltRowGesven a:active { 
	color: #f70000;
	}

.NoRecordsGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	background-color: #f4f4f4; 
	color: #000000;
	vertical-align: top;
	}

.FooterGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	background-color: #f4f4f4; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .NoRecordsGesven td, * html body .FooterGesven td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.FooterGesven a:link { 
	color: #0031c5;
	}

.FooterGesven a:visited { 
	color: #800080;
	}

.FooterGesven a:hover, .FooterGesven a:active { 
	color: #f70000;
	}

.FooterGesven img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterGesven input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordGesven { 
	border: 1px solid #767676;
	width: 100%;
	}

.ErrorGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f4f4f4; 
	}



/*ie6*/
* html body .ErrorGesven td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.ControlsGesven th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.ControlsGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	background-color: #f4f4f4; 
	color: #000000;
	}
	
.BottomGesven td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	background-color: #f4f4f4; color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .ControlsGesven th, * html body .ControlsGesven td, * html body .BottomGesven td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.BottomGesven a:link { 
	color: #0031c5;
	}

.BottomGesven a:visited { 
	color: #800080;
	}

.BottomGesven a:hover, .CaptionGesven a:active { 
	color: #f70000;
	}

.BottomGesven img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomGesven input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionGesven th{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #eaeaea; 
	color: #000000;
	}

.GroupCaptionGesven td{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f4f4f4; 
	color: #000000;
	}



/*ie6*/
* html body .GroupCaptionGesven th, * html body .GroupCaptionGesven td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.GroupCaptionGesven a:link {
	color: #000000;
	}

.GroupCaptionGesven a:visited{
	color: #000000;
	}

.GroupCaptionGesven a:hover, .GroupCaptionGesven a:active{
	color: #f70000;
	}

.GroupFooterGesven td{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #d4d4d4; 
	color: #000000;
	}



/*ie6*/
* html body .GroupFooterGesven td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.GroupFooterGesven a:link {
	color: #0031c5;
	}

.GroupFooterGesven a:visited{
	color: #800080;
	}

.GroupFooterGesven a:hover, .GroupFooterGesven a:active{
	color: #f70000;
	}

.GroupFooterGesven img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterGesven input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalGesven td{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #eaeaea; 
	color: #000000;
	border-bottom: 2px solid #767676;
	}



/*ie6*/
* html body .SubTotalGesven td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.SubTotalGesven a:link {
	color: #0031c5;
	}

.SubTotalGesven a:visited{
	color: #800080;
	}

.SubTotalGesven a:hover, .SubTotalGesven a:active{
	color: #f70000;
	}

.TotalGesven td{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #eaeaea; 
	color: #000000;
	}



/*ie6*/
* html body .TotalGesven td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.TotalGesven a:link {
	color: #0031c5;
	}

.TotalGesven a:visited{
	color: #800080;
	}

.TotalGesven a:hover, .TotalGesven a:active{
	color: #f70000;
	}

/* Form Options */
.ButtonGesven { 
	background-color: #767676; color: #fcfcfc; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 11px; font-weight: bold;
	}

/* Calendar */

.CalendarGesven { 
	border: 1px solid #767676;
	width: 100%;
	}

.CalendarWeekdayNameGesven{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #eaeaea; 
	color: #000000;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekdayNameGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarWeekdayNameGesven a:link {
	color: #0031c5;
	}

.CalendarWeekdayNameGesven a:visited{
	color: #800080;
	}

.CalendarWeekdayNameGesven a:hover, .CalendarWeekdayNameGesven a:active{
	color: #f70000;
	}

.CalendarWeekendNameGesven{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #eaeaea;	
	color: #000000;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekendNameGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarWeekendNameGesven a:link {
	color: #000000;
	}

.CalendarWeekendNameGesven a:visited{
	color: #000000;
	}

.CalendarWeekendNameGesven a:link, .CalendarWeekendNameGesven a:visited{
	color: #f70000;
	}

/* Calendar Day */
.CalendarDayGesven{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #f4f4f4;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarDayGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarDayGesven a:link {
	color: #0031c5;
	}

.CalendarDayGesven a:visited{
	color: #800080;
	}

.CalendarDayGesven a:hover, .CalendarDayGesven a:active{
	color: #f70000;
	}

/* Calendar Weekend */
.CalendarWeekendGesven{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #eaeaea;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarWeekendGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarWeekendGesven a:link {
	color: #0031c5;
	}

.CalendarWeekendGesven a:visited{
	color: #800080;
	}

.CalendarWeekendGesven a:hover, .CalendarWeekendGesven a:active{
	color: #f70000;
	}

/* Calendar Today */
.CalendarTodayGesven {
	font-family: Verdana; font-size: 80%;
	padding: 1px;
	border: 2px solid #767676;
	text-align: center;
	background-color: #f4f4f4;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarTodayGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarTodayGesven a:link {
	color: #0031c5;
	}

.CalendarTodayGesven a:visited{
	color: #800080;
	}

.CalendarTodayGesven a:hover, .CalendarTodayGesven a:active {
	color: #f70000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayGesven {
	font-family: Verdana; font-size: 80%;
	padding: 1px;
	border: 2px solid #767676;
	text-align: center;
	background-color: #eaeaea;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarWeekendTodayGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarWeekendTodayGesven a:link {
	color: #0031c5;
	}

.CalendarWeekendTodayGesven a:visited{
	color: #800080;
	}

.CalendarWeekendTodayGesven a:hover, .CalendarWeekendTodayGesven a:active{
	color: #f70000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayGesven{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #f4f4f4;	
	color: #767676;
	}



/*ie6*/
* html body .CalendarOtherMonthDayGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarOtherMonthDayGesven a:link {
	color: #767676;
	}

.CalendarOtherMonthDayGesven a:visited{
	color: #767676;
	}

.CalendarOtherMonthDayGesven a:hover, .CalendarOtherMonthDayGesven a:active{
	color: #f70000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayGesven {
	font-family: Verdana; font-size: 80%;
	padding: 1px;
	border: 2px solid #767676;
	text-align: center;
	background-color: #f4f4f4;	
	color: #767676;
	}



/*ie6*/
* html body .CalendarOtherMonthTodayGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarOtherMonthTodayGesven a:link {
	color: #767676;
	}

.CalendarOtherMonthTodayGesven a:visited{
	color: #767676;
	}

.CalendarOtherMonthTodayGesven a:hover, .CalendarOtherMonthTodayGesven a:active{
	color: #f70000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendGesven {
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: center;
	background-color: #eaeaea;	
	color: #767676;
	}



/*ie6*/
* html body .CalendarOtherMonthWeekendGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendGesven a:link {
	color: #767676;
	}

.CalendarOtherMonthWeekendGesven a:visited{
	color: #767676;
	}

.CalendarOtherMonthWeekendGesven a:hover, .CalendarOtherMonthWeekendGesven a:active{
	color: #f70000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayGesven {
	font-family: Verdana; font-size: 80%;
	padding: 1px;
	border: 2px solid #767676;
	text-align: center;
	color: #767676;
	background-color: #eaeaea;	
	}
	


/*ie6*/
* html body .CalendarOtherMonthWeekendTodayGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendTodayGesven a:link {
	color: #767676;
	}

.CalendarOtherMonthWeekendTodayGesven a:visited{
	color: #767676;
	}

.CalendarOtherMonthWeekendTodayGesven a:hover, .CalendarOtherMonthWeekendTodayGesven a:active{
	color: #f70000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayGesven{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	background-color: #d4d4d4;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	


/*ie6*/
* html body .CalendarSelectedDayGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarSelectedDayGesven a:link {
	color: #000000;
	}

.CalendarSelectedDayGesven a:visited{
	color: #000000;
	}

.CalendarSelectedDayGesven a:hover, .CalendarSelectedDayGesven a:active{
	color: #f70000;
	}

/* Calendar Navigator */
.CalendarNavigatorGesven {
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	background-color: #f4f4f4; color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .CalendarNavigatorGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarNavigatorGesven a:link {
	color: #0031c5;
	}

.CalendarNavigatorGesven a:visited{
	color: #800080;
	}

.CalendarNavigatorGesven a:hover, .CalendarNavigatorGesven a:active{
	color: #f70000;
	}

.CalendarNavigatorGesven img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorGesven td {
	font-family: Verdana; font-size: 80%;
	}

.CalendarNavigatorGesven th {
	font-family: Verdana; font-size: 80%;
	}



/*ie6*/
* html body .CalendarNavigatorGesven th, * html body .CalendarNavigatorGesven td {
	font-family: Verdana; font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEventGesven{
	font-family: Verdana; font-size: 80%;
	text-align: left;
	}



/*ie6*/
* html body .CalendarEventGesven {
	font-family: Verdana; font-size: 100%;
}
/*end*/

.CalendarEventGesven a:link {
	color: #0031c5;
	}

.CalendarEventGesven a:visited{
	color: #800080;
	}

.CalendarEventGesven a:hover, .CalendarEventGesven a:active{
	color: #f70000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thGesven { 
	font-family: Verdana; font-size: 80%;
	font-weight: bold;
}



/*ie6*/
* html body .thGesven {
	font-size: 100%;
}
/*end*/

.HeaderGesven .thGesven { 
	font-family: Verdana; font-size: 110%; font-weight: bold; text-align: left;
	padding: 3px;
	background-color: #767676; color: #fcfcfc;
	width: 100%;
	white-space: nowrap;
}



/*ie6*/
* html body .HeaderGesven .thGesven {
	font-family: Verdana; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.CaptionGesven .thGesven { 
	font-family: Verdana; font-size: 80%; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #d4d4d4; color: #000000;
	white-space: nowrap;
}



/*ie6*/
* html body .CaptionGesven .thGesven {
	font-family: Verdana; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.RowGesven .thGesven { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowGesven .thGesven { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.ControlsGesven .thGesven { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	
	background-color: #f4f4f4; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptionGesven .thGesven {
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #eaeaea; 
	color: #000000;
}



/*ie6*/
* html body .GroupCaptionGesven .thGesven {
	font-family: Verdana; font-size: 100%;
}

* html body .RowGesven .thGesven, * html body .AltRowGesven .thGesven, * html body .ControlsGesven .thGesven {
	font-family: Verdana; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenuGesven td {
	font-family: Verdana; font-size: 80%;
}



/*ie6*/
* html body .simpleMenuGesven td {
	font-family: Verdana; font-size: 100%;
} 
/*end*/
