{assign var="title" value=$smarty.const._TPL_AFFILIATE_TITLE}
{include file="header.html"}
{include file="error.inc.html"}
<div class="backend-wrapper">
{include file="member_menu.inc.html" is_aff_member=1}
<table><tr><td>
{if $links}
<b>#_TPL_AFFILIATE_TXT_LINKS#</b><br /><br />
{foreach from=$links item=l}
<div>{$l.code}<br /><br />
<div class="medium"><b>#_TPL_AFFILIATE_HTML_CODE#</b><br />
<span class="code">{$l.code|escape:html}</span></div><br />
</div>
{/foreach}
{/if}

{if $banners}
<b>#_TPL_AFFILIATE_BANNERS#</b><br /><br />
{foreach from=$banners item=l}
{$l.code}</a><br /><br />
<div class="medium"><b>#_TPL_AFFILIATE_HTML_CODE#</b><br /></div>
<div class="code"><font color=blue>{$l.code|escape:html}</font><br /></div><br />
{/foreach}
{/if}

</td></tr></table>
<br /><br /><br />
</div>

{include file="footer.html"}