{assign var="title" value=$smarty.const._AFF_MEMBER_TITLE}
{include file="header.html"}
<div class="backend-wrapper">
{include file="member_menu.inc.html"}
{include file="error.inc.html"}

{$aff_stats}

</div>
<br /><p class="powered">#_TPL_POWEREDBY|<a href="http://www.amember.com/">|</a>#</p>

{include file="footer.html"}