{assign var="title" value=$smarty.const._TPL_CHANGEPASSWORD_FAILED_TITLE}
{include file="header.html"}
{include file="error.inc.html"}

<strong>#_TPL_CHANGEPASSWORD_FAILED_INCINFO#</strong><br />
{$message}
<br />
<br />
<a href="{$login_page}">#_TPL_CHANGEPASSWORD_FAILED_RETURN#</a>

{include file="footer.html"}