{if $config.google_analytics}
{include file=&quot;google_analytics.js&quot; sale=&quot;0&quot;}
{/if}<!-- /.post --><!-- /.box --><!-- /#sidebar --><!-- /#content --><br />
<br />
<div id="footer" style="width: 100%; text-align: center">
<p><font face="wp_bogus_font">Aseg&uacute;rate de leer nuestro <a target="_blank" title="Acuerdo de Membresia" href="http://cimamultinivel.com/acuerdo-de-membresia">&quot;Acuerdo de Membres&iacute;a&quot;</a> para usar este sitio web</font></p><br />
<br />
<p>&copy; 2010-2013 CIMA +PRO. Todos los Derechos Reservados.</p></div>