{assign var="title" value=$config.site_title}
{include file="header.html"}

#_TPL_INDEX_IF_YOU_ARE_REGISTERED|<a href="member.php">|</a>#.
#_TPL_INDEX_IF_YOU_ARE_NOT_REGISTERED|<a href="signup.php">|</a>#.

{include file="footer.html"}