{assign var="title" value=$smarty.const._TPL_THX_ERROR_TITLE}
{include file="header.html"}

  #_TPL_THX_ERROR_ERROR# <br />
  #_TPL_THX_ERROR_CONTACT# <br />

<div style='color: red; font-weight: bold;'>{$error}</div>

{include file="footer.html"}