{assign var="title" value=$smarty.const._TPL_THX_TITLE}
{include file="header.html"}
{include file="../plugins/protect/amail_getresponse/thanks.amail_getresponse.inc.html"}

{if $payment.paysys_id == "clickbank"}

	NOTA: El estado de cuenta de tu tarjeta de credito mostrará un cargo de Clickbank o Clk*Bank.com.<br />
	Gracias Por Tu Compra! <br />
	Si necesitas ayuda contáctanos a soporte@masprospectos.com <br />
	Ahora puedes ingresar a tu panel de control <br />

{/if}


<br />
<a href="{$config.root_url}/login.php"><img src="http://masprospectos.com/images/crear-cuenta.jpg"></a>
<br />



<!-- display payment receipt -->
{if $payment.amount > "0.0"}

#_TPL_THX_PAYPROC# <br />
#_TPL_THX_ORDERREF|{$payment.payment_id}|{$payment.receipt_id}#<br />
#_TPL_THX_DATETIME|{$payment.tm_completed|date_format:$config.time_format}#<br />

<br /><br />

{include file="receipt.inc.html"}
<br /><br />


{/if}{* END Of receipt display *}


{if $config.google_analytics}
{include file="google_analytics.js" sale="1"}
{/if}

{include file="footer.html"}