#mainWrapper {
	width: 884px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	border: 2px solid #CCC;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #060;
}
body {
	background-color: #F4F4F4;
}

.editorHeadline {
	font-size: 18px;
	padding-bottom: 5px;
}

#preview {
	height: 443px;
	width: 336px;
	float: left;
}
#Settings {
	float: left;
	height: 443px;
	width: 492px;
	margin-right: 15px;
	margin-left: 15px;
}
#accordion {
	font-size: 14px;
	height: 446px;
}

#MAINCONTENT {
	margin-top: 25px;
	margin-bottom: 20px;
}
#footer-area {
	background-image: url(images/creator-footer.jpg);
	background-repeat: repeat-x;
	height: 63px;
	padding-top: 15px;
	padding-left: 15px;
	margin-top: 25px;
}


#accord_content {
	font-size: 12px;
	color: #333;
	height: 200px;
}

/* Easy Slider */

	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider, #slider li{ 
		/* 
			define width and height of container element and list item (slide)
			list items must be the same size as the slider area
		*/ 
		width:430px;
		height:190px;
		overflow:hidden; 
		}
	span#prevBtn{}
	span#nextBtn{}					

/* // Easy Slider */
#color-bg-input {
	width: 420px;
	border: 1px dotted #CCC;
	height: 25px;
	padding-left:10px;
}
#cover-name {
	background-image: url(images/filename-bg.jpg);
	background-repeat: no-repeat;
	height: 35px;
	width: 257px;
	font-weight: bold;
	color: #333;
	padding-top: 5px;
	padding-left: 20px;
	outline: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
}
.inputBox {
	padding: 10px;
	height: 30px;
	width: 390px;
	border: 2px solid #A6C2E1;
}
.bigtitlething {
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

#nameFormthing {
	height: 45px;
	width: 400px;
}
